Automated Activity Plan Analysis.json
{
  "name": "Automated Activity Plan Analysis",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Renumber sequentially after merge\nlet counter = 1;\nfor (const item of items) {\n  item.json.NO = counter;\n  counter++;\n}\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2144,
        592
      ],
      "id": "9d9e42db-4e5e-46fa-976c-1ad2fc106f50",
      "name": "Node 2: Number Formatting1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "14TYtFTB9KFWqasLMCOrx6UJl2_H1TZoniHkiWDmth38",
          "mode": "list",
          "cachedResultName": "Activity Plan KMI 2026",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14TYtFTB9KFWqasLMCOrx6UJl2_H1TZoniHkiWDmth38/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14TYtFTB9KFWqasLMCOrx6UJl2_H1TZoniHkiWDmth38/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1248,
        528
      ],
      "id": "8a5f7eb5-61e1-421c-afa5-d6d4d15dcac8",
      "name": "Node B Get row(s) in sheet",
      "executeOnce": true
    },
    {
      "parameters": {
        "unit": "seconds"
      },
      "id": "eba13293-5d48-42d4-a994-b968c4890933",
      "name": "Wait 1s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -1696,
        512
      ],
      "webhookId": "9abe09ef-5b44-4718-84b1-41e3375b3c7b"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1s17jPvUSYIdKyHsOY7PaI457WfgqSGp3Z9JgnjeUTyw",
          "mode": "list",
          "cachedResultName": "Draft MDP_ACTIVITY PLAN 2026",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1s17jPvUSYIdKyHsOY7PaI457WfgqSGp3Z9JgnjeUTyw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1s17jPvUSYIdKyHsOY7PaI457WfgqSGp3Z9JgnjeUTyw/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2608,
        64
      ],
      "id": "b28351da-c947-497b-a707-8a16226b8d7b",
      "name": "Node 1 Get row(s) from MDP"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Hm--UrQIolB5CYy16xcIsUSUyCZfiyy-vcMfyZTu8TI",
          "mode": "list",
          "cachedResultName": "Draft PRD_ACTIVITY PLAN 2026",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Hm--UrQIolB5CYy16xcIsUSUyCZfiyy-vcMfyZTu8TI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Hm--UrQIolB5CYy16xcIsUSUyCZfiyy-vcMfyZTu8TI/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2608,
        256
      ],
      "id": "aacede6e-fd7e-48c5-94a5-573c1f265c3d",
      "name": "Node 2 Get row(s) from PRD"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ClRUvp2OU7HV3ZwmbNDgJs7NkbyaaxK7VH9rMl_vft8",
          "mode": "list",
          "cachedResultName": "Draft BDA_ACTIVITY PLAN 2026",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ClRUvp2OU7HV3ZwmbNDgJs7NkbyaaxK7VH9rMl_vft8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ClRUvp2OU7HV3ZwmbNDgJs7NkbyaaxK7VH9rMl_vft8/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2608,
        448
      ],
      "id": "67d834ab-905d-48c1-87e5-eebee2a3a3a7",
      "name": "Node 3 Get row(s) from BDA"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1eSU1Xs8pX8WJdt5hurR6ZwYCVdM8Oo6qgk4KWHvaPpU",
          "mode": "list",
          "cachedResultName": "Draft ENG_ACTIVITY PLAN 2026",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eSU1Xs8pX8WJdt5hurR6ZwYCVdM8Oo6qgk4KWHvaPpU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eSU1Xs8pX8WJdt5hurR6ZwYCVdM8Oo6qgk4KWHvaPpU/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2608,
        640
      ],
      "id": "52eb926d-cda3-4151-912d-57b330f2ac3b",
      "name": "Node 4 Get row(s) from ENG"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1CxbXNC4GiFNTg1bgMPOujUrv9Mi67AnT8Sv7IE9bDbI",
          "mode": "list",
          "cachedResultName": "Draft WHS_ACTIVITY PLAN 2026.xlsx",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CxbXNC4GiFNTg1bgMPOujUrv9Mi67AnT8Sv7IE9bDbI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CxbXNC4GiFNTg1bgMPOujUrv9Mi67AnT8Sv7IE9bDbI/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2608,
        832
      ],
      "id": "9d0f3615-45f6-4082-ba4f-8f1242fcb626",
      "name": "Node 5 Get row(s) from WH"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1wb6o3FHLdZsYVFbhRfgffEyYiY3NCcrA9-pvRszIfbc",
          "mode": "list",
          "cachedResultName": "Draft IOS_ACTIVITY PLAN 2026",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wb6o3FHLdZsYVFbhRfgffEyYiY3NCcrA9-pvRszIfbc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wb6o3FHLdZsYVFbhRfgffEyYiY3NCcrA9-pvRszIfbc/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2608,
        1216
      ],
      "id": "7c4d4d79-0805-44a6-b071-ada3a5f67a16",
      "name": "Node 7 Get row(s) from IOS"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "14TYtFTB9KFWqasLMCOrx6UJl2_H1TZoniHkiWDmth38",
          "mode": "list",
          "cachedResultName": "Activity Plan KMI 2026",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14TYtFTB9KFWqasLMCOrx6UJl2_H1TZoniHkiWDmth38/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14TYtFTB9KFWqasLMCOrx6UJl2_H1TZoniHkiWDmth38/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "NO",
              "displayName": "NO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DIC",
              "displayName": "DIC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Theme",
              "displayName": "Theme",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "BSC\n Dimension",
              "displayName": "BSC\n Dimension",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category Activity",
              "displayName": "Category Activity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Objective",
              "displayName": "Objective",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Initiative",
              "displayName": "Initiative",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Activity",
              "displayName": "Activity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Indicators\n (KSI/KMI/KPI/KAI)",
              "displayName": "Indicators\n (KSI/KMI/KPI/KAI)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Unit/Deliverable",
              "displayName": "Unit/Deliverable",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Measurement",
              "displayName": "Measurement",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Yearly Target 2026",
              "displayName": "Yearly Target 2026",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Start Month",
              "displayName": "Start Month",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "End Month",
              "displayName": "End Month",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Budget Resources 2026",
              "displayName": "Budget Resources 2026",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Score 1",
              "displayName": "Score 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Score 2",
              "displayName": "Score 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Score 3",
              "displayName": "Score 3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Score 4",
              "displayName": "Score 4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Score 5",
              "displayName": "Score 5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PRD",
              "displayName": "PRD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ENG",
              "displayName": "ENG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "QA",
              "displayName": "QA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "WH",
              "displayName": "WH",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MDP",
              "displayName": "MDP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "IOS",
              "displayName": "IOS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HC",
              "displayName": "HC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "BDA",
              "displayName": "BDA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Risk",
              "displayName": "Risk",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mitigasi",
              "displayName": "Mitigasi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1472,
        512
      ],
      "id": "a37bfdd4-8c5d-443e-a4eb-b26f5764d161",
      "name": "Node A: Append row in Merged Sheet"
    },
    {
      "parameters": {
        "numberInputs": 8
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2384,
        496
      ],
      "id": "b4a33651-b650-43d9-90cc-613b09d5ea28",
      "name": "Merge 3"
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "value": "14TYtFTB9KFWqasLMCOrx6UJl2_H1TZoniHkiWDmth38",
          "mode": "list",
          "cachedResultName": "Activity Plan KMI 2026",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14TYtFTB9KFWqasLMCOrx6UJl2_H1TZoniHkiWDmth38/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14TYtFTB9KFWqasLMCOrx6UJl2_H1TZoniHkiWDmth38/edit#gid=0"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1936,
        592
      ],
      "id": "23ad8e60-c901-4ce2-b5f3-233bbd3d3fc2",
      "name": "Clear Sheet Before Append1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -3152,
        688
      ],
      "id": "9039168b-6bf7-49e1-b6b8-5da2aa648d06",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1TAVwOsfzUNpFWzHRRjf0RgD-2MzGgoUK9XOalhwB_z4",
          "mode": "list",
          "cachedResultName": "Draft HCD_ACTIVITY PLAN 2026",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TAVwOsfzUNpFWzHRRjf0RgD-2MzGgoUK9XOalhwB_z4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TAVwOsfzUNpFWzHRRjf0RgD-2MzGgoUK9XOalhwB_z4/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2608,
        1024
      ],
      "id": "f54eec60-343c-4e15-a427-7da1bd7fa464",
      "name": "Node 6 Get row(s) from HCD"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1SFRw9uo99fczHLoAaxJV0Gpx_wUO2d3aZsikTTUn4yE",
          "mode": "list",
          "cachedResultName": "Draft QAC_ACTIVITY PLAN 2026",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SFRw9uo99fczHLoAaxJV0Gpx_wUO2d3aZsikTTUn4yE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SFRw9uo99fczHLoAaxJV0Gpx_wUO2d3aZsikTTUn4yE/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2608,
        1408
      ],
      "id": "f0d37c6f-3995-47d0-b873-7026ac19680d",
      "name": "Node 8 Get row(s) from QAC"
    },
    {
      "parameters": {
        "jsCode": "const rows = items.map(i => i.json);\n\n// 1️⃣ Ambil sample 1 baris untuk mendeteksi kolom\nconst sample = rows[0] || {};\n\n// 2️⃣ Deteksi kolom \"DIC\" atau fallback \"DIC / Pilar\"\nconst dicCol = Object.keys(sample).find(k => /^dic$|dic\\s*\\/\\s*pilar/i.test(k));\nif (!dicCol) {\n  throw new Error(\"❌ Tidak ditemukan kolom 'DIC' atau 'DIC / Pilar'\");\n}\n\n// 3️⃣ Deteksi kolom Theme\nconst themeCol = Object.keys(sample).find(k => /^theme$/i.test(k));\nif (!themeCol) {\n  throw new Error(\"❌ Tidak ditemukan kolom 'Theme'\");\n}\n\n// 4️⃣ Agregasi data\nconst byDIC = {};\n\nfor (const r of rows) {\n  const dic = (r[dicCol] || \"UNSPECIFIED\").toString().trim();\n  const theme = (r[themeCol] || \"UNSPECIFIED\").toString().trim();\n\n  if (!byDIC[dic]) {\n    byDIC[dic] = { dic, themeCounts: {} };\n  }\n\n  byDIC[dic].themeCounts[theme] =\n    (byDIC[dic].themeCounts[theme] || 0) + 1;\n}\n\n// 5️⃣ Konversi ke output array & (opsional) sort descending berdasarkan total theme\nconst out = Object.values(byDIC)\n  .map(x => ({\n    json: {\n      DIC: x.dic,\n      themes: x.themeCounts\n    }\n  }))\n  .sort((a, b) => {\n    const totalA = Object.values(a.json.themes).reduce((s, v) => s + v, 0);\n    const totalB = Object.values(b.json.themes).reduce((s, v) => s + v, 0);\n    return totalB - totalA;\n  });\n\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        352
      ],
      "id": "a1a5ec6c-c3e2-464a-8391-b736d8893e6e",
      "name": "Node F: Focus Theme per DIC3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1216,
        80
      ],
      "id": "3e1f8ba0-aa8e-4185-bf87-99ca321e4b0a",
      "name": "Merge27"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1488,
        336
      ],
      "id": "90694cda-a4c7-4216-a9c5-ffb326692c74",
      "name": "Merge28"
    },
    {
      "parameters": {
        "jsCode": "// Ambil semua item dari input (tiap item = 1 object)\nlet data = $input.all().map(item => item.json);\n\n// Validasi\nif (!Array.isArray(data) || !data.length) {\n  throw new Error(\"❌ Input harus berupa array of objects, tapi tidak ditemukan data di input.\");\n}\n\n// Fungsi bantu: flatten object satu level\nfunction flattenObject(obj) {\n  const flat = {};\n  for (const [key, value] of Object.entries(obj)) {\n    if (typeof value === 'object' && value !== null && !Array.isArray(value)) {\n      flat[key] = Object.entries(value)\n        .map(([k, v]) => `${k}: ${v}`)\n        .join('<br>');\n    } else if (Array.isArray(value)) {\n      flat[key] = value.join(', ');\n    } else {\n      flat[key] = value;\n    }\n  }\n  return flat;\n}\n\n// Flatten semua baris\nconst flattened = data.map(flattenObject);\n\n// Ambil semua kolom unik\nconst allKeys = [...new Set(flattened.flatMap(obj => Object.keys(obj)))];\n\n// Build rows\nconst rows = flattened.map(row => `\n  <tr>${allKeys.map(k => `<td>${row[k] ?? ''}</td>`).join('')}</tr>\n`).join('');\n\n// 🔥 Styling tabel yg lebih kecil + center alignment\nconst htmlTable = `\n  <div style=\"width:100%; text-align:center; margin-top: 20px; margin-bottom: 30px;\">\n    <h2 style=\"color:#2F5496; font-family: Arial; margin-bottom: 15px;\">\n      📊 Focus Theme per DIC\n    </h2>\n\n    <div style=\"\n      display: inline-block;\n      max-width: 900px;\n      width: 90%;\n      text-align: left;\n    \">\n      <table border=\"1\" cellpadding=\"4\" cellspacing=\"0\"\n             style=\"\n               border-collapse: collapse;\n               width:100%;\n               font-family: Arial;\n               font-size: 11.5px;\n             \">\n        <tr style=\"background:#f2f2f2;\">\n          ${allKeys.map(k => `<th style=\"padding:6px;\">${k}</th>`).join('')}\n        </tr>\n        ${rows}\n      </table>\n    </div>\n  </div>\n`;\n\nreturn [{ json: { html: htmlTable } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        352
      ],
      "id": "9c81f5e3-4437-40ed-8747-ad782ed3b61d",
      "name": "Container of F3"
    },
    {
      "parameters": {
        "jsCode": "// Ambil semua item dari input (tiap item = 1 object)\nlet data = $input.all().map(item => item.json);\n\n// Validasi\nif (!Array.isArray(data) || !data.length) {\n  throw new Error(\"❌ Input harus berupa array of objects, tapi tidak ditemukan data di input.\");\n}\n\n// Fungsi bantu: flatten object satu level\nfunction flattenObject(obj) {\n  const flat = {};\n  for (const [key, value] of Object.entries(obj)) {\n    if (typeof value === 'object' && value !== null && !Array.isArray(value)) {\n      flat[key] = Object.entries(value)\n        .map(([k, v]) => `${k}: ${v}`)\n        .join('<br>');\n    } else if (Array.isArray(value)) {\n      flat[key] = value.join(', ');\n    } else {\n      flat[key] = value;\n    }\n  }\n  return flat;\n}\n\n// Flatten semua baris\nconst flattened = data.map(flattenObject);\n\n// Ambil semua kolom unik\nconst allKeys = [...new Set(flattened.flatMap(obj => Object.keys(obj)))];\n\n// Build rows\nconst rows = flattened.map(row => `\n  <tr>${allKeys.map(k => `<td>${row[k] ?? ''}</td>`).join('')}</tr>\n`).join('');\n\n// 🔥 Styling tabel agar lebih kecil & center alignment\nconst htmlTable = `\n  <div style=\"width:100%; text-align:center; margin-top: 20px; margin-bottom: 30px;\">\n    <h2 style=\"color:#2F5496; font-family: Arial; margin-bottom: 15px;\">\n      📊 KMI & KSI and Dimension Mapping\n    </h2>\n\n    <div style=\"\n      display: inline-block;\n      max-width: 900px;\n      width: 90%;\n      text-align: left;\n    \">\n      <table border=\"1\" cellpadding=\"4\" cellspacing=\"0\"\n             style=\"\n               border-collapse: collapse;\n               width:100%;\n               font-family: Arial;\n               font-size: 11.5px;\n             \">\n        <tr style=\"background:#f2f2f2;\">\n          ${allKeys.map(k => `<th style=\"padding:6px;\">${k}</th>`).join('')}\n        </tr>\n        ${rows}\n      </table>\n    </div>\n  </div>\n`;\n\nreturn [{ json: { html: htmlTable } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        640
      ],
      "id": "e6505e64-4f5a-4a68-a886-82dee12ee08c",
      "name": "Container of G3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1696,
        608
      ],
      "id": "c8e3e963-0c18-4acb-813e-b6597c1c0ee2",
      "name": "Merge29"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1952,
        992
      ],
      "id": "dc738ff0-c14c-4890-8629-170bc61aea2a",
      "name": "Merge30"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2160,
        1184
      ],
      "id": "55355176-6f09-4eab-8bb7-3a88b63c1195",
      "name": "Merge31"
    },
    {
      "parameters": {
        "jsCode": "// Ambil semua block HTML, baik yang berada di item.html atau item.json.html\nconst mergedHTML = $input.all()\n  .map(i => i.json?.html || i.html || \"\")\n  .filter(v => v && v.trim() !== \"\")      // buang entry kosong\n  .join('\\n\\n');\n\n// Buat output final\nreturn [{\n  json: {\n    full_html: `\n      <html>\n        <body style=\"font-family: Arial, sans-serif; padding: 20px;\">\n\n          <!-- Judul diperbaiki: rata tengah & warna lebih tua -->\n          <h1 style=\"text-align:center; color:#1E3E73; margin-bottom: 25px;\">\n            Laporan Analisis Otomatis\n          </h1>\n\n          ${mergedHTML}\n\n          <p style=\"text-align:center; font-size:12px; color:#777; margin-top:40px;\">\n            Generated automatically via n8n workflow.\n          </p>\n        </body>\n      </html>\n    `\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5792,
        2096
      ],
      "id": "cadddcaf-92ac-476c-affa-6380b4599e8a",
      "name": "Merge All Analyses1"
    },
    {
      "parameters": {
        "jsCode": "// Node G – Count each activity once, based on direct DIC ownership\n// Output: per-department KMI, KSI counts, and Dimension mapping (case-insensitive)\n\nconst rows = items.map(i => i.json);\n\n// === Helper: detect DIC column robustly ===\nfunction readDIC(row) {\n  const keys = [\"DIC\", \"DIC / Pilar\", \"DIC /Pilar\", \"DIC/Pilar\", \"DIC Pilar\", \"Pilar\"];\n  for (const k of keys) {\n    if (row[k]) return String(row[k]).trim().toUpperCase();  // sekarang ini = nama Dept langsung\n  }\n  return \"UNASSIGNED\";\n}\n\n// === Aggregate by Department (formerly DIC) ===\nconst summary = {};\n\nfor (const r of rows) {\n  const dept = readDIC(r);     // sekarang dept langsung dari DIC rename kamu\n  const cat = (r[\"Indicators\\n(KSI/KMI/KPI/KAI)\"] || \"UNKNOWN\").toString().trim().toUpperCase();\n  let dim = (r[\"BSC\\nDimension\"] || \"UNKNOWN\").toString().trim().toUpperCase();  // normalize case\n\n  // only process KMI / KSI\n  if (!cat.includes(\"KMI\") && !cat.includes(\"KSI\")) continue;\n\n  // init department bucket\n  if (!summary[dept]) summary[dept] = { \n    Department: dept,\n    KSI: 0,\n    KMI: 0,\n    Total: 0,\n    Dimensions: {}\n  };\n\n  // category counting\n  if (cat.includes(\"KSI\")) summary[dept].KSI += 1;\n  if (cat.includes(\"KMI\")) summary[dept].KMI += 1;\n  summary[dept].Total += 1;\n\n  // dimension counting\n  summary[dept].Dimensions[dim] = (summary[dept].Dimensions[dim] || 0) + 1;\n}\n\n// === Compute totals ===\nlet totalKSI = 0;\nlet totalKMI = 0;\nlet totalAll = 0;\n\nfor (const s of Object.values(summary)) {\n  totalKSI += s.KSI;\n  totalKMI += s.KMI;\n  totalAll += s.Total;\n}\n\n// === Add TOTAL row ===\nsummary[\"ZZZ_TOTAL\"] = {\n  Department: \"TOTAL\",\n  KSI: totalKSI,\n  KMI: totalKMI,\n  Total: totalAll,\n  Dimensions: {}\n};\n\n// === Return output ===\nreturn Object.values(summary).map(s => ({ json: s }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        640
      ],
      "id": "ee7a439d-1eab-4c1d-97fe-7b8bc35d64e2",
      "name": "Node G: KMI & KSI and Dimension Mapping3"
    },
    {
      "parameters": {
        "jsCode": "const rows = items.map(i => i.json);\n\n// 1️⃣ Cari kolom Budget Resources (regex)\nconst sample = rows[0] || {};\nconst budgetCol = Object.keys(sample).find(k => /budget resources/i.test(k));\nif (!budgetCol) {\n  throw new Error(\"❌ Tidak ditemukan kolom yang mengandung 'Budget Resources'\");\n}\n\n// 2️⃣ Pastikan ada kolom DIC\nif (!(\"DIC\" in sample)) {\n  throw new Error(\"❌ Tidak ditemukan kolom 'DIC' di input JSON\");\n}\n\n// 3️⃣ Struktur agregasi\nconst deptData = {};\n\nfor (const r of rows) {\n  const dept = (r[\"DIC\"] || \"\").toString().trim().toUpperCase();\n  if (!dept) continue;\n\n  if (!deptData[dept]) {\n    deptData[dept] = { capex: 0, dept: 0, notuse: 0, total: 0 };\n  }\n\n  const val = (r[budgetCol] || \"\").toString().trim().toLowerCase();\n\n  if (/capex/i.test(val)) deptData[dept].capex++;\n  else if (/department/i.test(val)) deptData[dept].dept++;\n  else deptData[dept].notuse++;\n\n  deptData[dept].total++;\n}\n\n// 4️⃣ Generate chart untuk tiap departemen\nconst results = [];\n\nfor (const [dept, counts] of Object.entries(deptData)) {\n  if (counts.total === 0) continue;\n\n  const summary = [\n    { category: \"Budget Capex\", count: counts.capex },\n    { category: \"Budget Department\", count: counts.dept },\n    { category: \"Not Use Budget\", count: counts.notuse }\n  ];\n\n  const percentages = summary.map(s =>\n    Math.round((s.count / counts.total) * 100)\n  );\n\n  const chartConfig = {\n    type: \"pie\",\n    data: {\n      labels: summary.map(s => s.category),\n      datasets: [{\n        data: percentages,\n        backgroundColor: [\"#f7a1a1\", \"#7cd992\", \"#a1b9f7\"]\n      }]\n    },\n    plugins: [\"chartjs-plugin-datalabels\"],\n    options: {\n      plugins: {\n        title: {\n          display: true,\n          text: `Budget Resource Ratio - ${dept}`\n        },\n        legend: { position: \"bottom\" },\n        datalabels: {\n          formatter: (val) => val + \"%\",\n          color: \"#000\",\n          font: { size: 12, weight: \"bold\" }\n        }\n      }\n    }\n  };\n\n  // ⭐ FIX: aktifkan plugin datalabels\n  const chartUrl =\n    \"https://quickchart.io/chart?plugins=datalabels&c=\" +\n    encodeURIComponent(JSON.stringify(chartConfig));\n\n  results.push({\n    json: {\n      department: dept,\n      total_entries: counts.total,\n      chart_url: chartUrl,\n      summary\n    }\n  });\n}\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        1328
      ],
      "id": "b9849540-3860-42c0-8b52-00ba6cf08084",
      "name": "Node I: Budget Capex, Budget Department, Not use budget4"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.all().map(i => i.json);\n\n// Validasi\nif (!Array.isArray(data) || data.length === 0) {\n  throw new Error(\"❌ Input harus berupa array dengan minimal 1 elemen.\");\n}\n\n// Helper: potong array menjadi kelompok berisi max 3 elemen\nfunction chunk(arr, size = 3) {\n  const chunks = [];\n  for (let i = 0; i < arr.length; i += size) {\n    chunks.push(arr.slice(i, i + size));\n  }\n  return chunks;\n}\n\nconst groups = chunk(data, 3);\n\n// Build table layout\nconst tableSections = groups.map(group => {\n  const cells = group.map(d => {\n    const chartUrl = d.chart_url;\n    const summary = d.summary || [];\n    const dept = d.department || \"Unknown Dept\";\n    const title = `Budget Resource Ratio - ${dept}`;\n\n    // Tabel ringkasan\n    let summaryTable = \"\";\n    if (summary.length > 0) {\n      summaryTable = `\n        <table border=\"1\" cellpadding=\"5\" cellspacing=\"0\"\n               style=\"border-collapse: collapse; width:90%; margin:auto; font-family: Arial; font-size: 13px; border-color:white;\">\n          <tr style=\"background:#f2f2f2;\"><th>Category</th><th>Count</th></tr>\n          ${summary\n            .map(\n              s =>\n                `<tr>\n                  <td>${s.category}</td>\n                  <td style=\"text-align:right;\">${s.count}</td>\n                </tr>`\n            )\n            .join(\"\")}\n        </table>\n      `;\n    }\n\n    return `\n      <td style=\"\n        width: 350px;\n        text-align: center;\n        vertical-align: top;\n        padding: 15px;\n        border: 1px solid white;\n        font-family: Arial;\n      \">\n        <h3 style=\"color:#2F5496; margin-bottom: 10px; font-size:16px;\">\n          ${title}\n        </h3>\n\n        <img \n          src=\"${chartUrl}\" \n          alt=\"${dept} Chart\"\n          style=\"\n            width: 100%;\n            max-width: 330px;\n            border: 1px solid #ccc;\n            border-radius: 10px;\n            box-shadow: 0 2px 6px rgba(0,0,0,0.15);\n            margin-bottom: 10px;\n          \"\n        >\n\n        ${summaryTable}\n      </td>\n    `;\n  }).join(\"\");\n\n  // Isi kolom kosong jika kurang dari 3\n  const emptyCells = 3 - group.length;\n  let filler = \"\";\n  if (emptyCells > 0) {\n    filler = `<td style=\"border:1px solid white;\"></td>`.repeat(emptyCells);\n  }\n\n  return `\n    <div align=\"center\" style=\"text-align:center; width:100%; margin: 0 auto 30px auto;\">\n      <table cellpadding=\"0\" cellspacing=\"0\"\n             style=\"border-collapse: collapse; margin-left:auto; margin-right:auto; border-color:white;\">\n        <tr>\n          ${cells}${filler}\n        </tr>\n      </table>\n    </div>\n  `;\n});\n\n// HTML wrapper final\n// HTML wrapper final\nconst html = `\n  <div style=\"font-family: Arial; color:#333; text-align:center;\">\n\n    <h2 style=\"text-align:center; color:#2F5496; margin-bottom: 10px;\">\n      📊 Budget Resource Distribution Report\n    </h2>\n\n    <p style=\"\n      text-align:center;\n      font-size:14px;\n      color:#555;\n      margin-top:0;\n      margin-bottom:25px;\n      font-family:Arial;\n    \">\n      Pie Chart is in percentage (%)\n    </p>\n\n    ${tableSections.join(\"\\n\")}\n  </div>\n`;\n\nreturn [{ json: { html } }];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        1328
      ],
      "id": "d12b9f7f-7bd0-4728-8ba1-7eaa8f4d8183",
      "name": "Container of I"
    },
    {
      "parameters": {
        "jsCode": "// Ambil semua item dari input (tiap item = 1 object)\nlet data = $input.all().map(item => item.json);\n\n// Validasi\nif (!Array.isArray(data) || !data.length) {\n  throw new Error(\"❌ Input harus berupa array of objects, tapi tidak ditemukan data di input.\");\n}\n\n// Fungsi bantu: flatten object\nfunction flattenObject(obj) {\n  const flat = {};\n  for (const [key, value] of Object.entries(obj)) {\n    if (typeof value === 'object' && value !== null && !Array.isArray(value)) {\n      flat[key] = Object.entries(value)\n        .map(([k, v]) => `${k}: ${v}`)\n        .join('<br>');\n    } else if (Array.isArray(value)) {\n      flat[key] = value.join(', ');\n    } else {\n      flat[key] = value;\n    }\n  }\n  return flat;\n}\n\n// Flatten semua baris\nconst flattened = data.map(flattenObject);\n\n// Ambil semua kolom unik\nconst allKeys = [...new Set(flattened.flatMap(obj => Object.keys(obj)))];\n\n// Bangun table rows\nconst rows = flattened.map(row => `\n  <tr>${allKeys.map(k => `<td>${row[k] ?? ''}</td>`).join('')}</tr>\n`).join('');\n\n// 🔥 Revisi tampilan lebih kecil + center alignment\nconst htmlTable = `\n  <div style=\"width:100%; text-align:center; margin-top: 20px;\">\n    <h2 style=\"color:#2F5496; font-family: Arial; margin-bottom: 15px;\">\n      📊 Collaboration Culture Mapping\n    </h2>\n\n    <div style=\"\n      display: inline-block;\n      max-width: 900px;\n      width: 90%;\n      text-align: left;\n    \">\n      <table border=\"1\" cellpadding=\"4\" cellspacing=\"0\"\n             style=\"\n               border-collapse: collapse;\n               width:100%;\n               font-family: Arial;\n               font-size: 11.5px;\n             \">\n        <tr style=\"background:#f2f2f2;\">\n          ${allKeys.map(k => `<th style=\"padding:6px;\">${k}</th>`).join('')}\n        </tr>\n        ${rows}\n      </table>\n    </div>\n  </div>\n`;\n\nreturn [{ json: { html: htmlTable } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        896
      ],
      "id": "2c21873e-b98d-4a72-bdc6-1c7f54521e33",
      "name": "Node J.1: Collaboration Culture Mapping edgeList6"
    },
    {
      "parameters": {
        "jsCode": "const rows = items.map(i => i.json);\n\n// ========== 0️⃣ Mapping warna per departemen ==========\nconst deptColors = {\n  PRD: \"#1d3557\",\n  ENG: \"#e63946\",\n  QAC: \"#2a9d8f\",\n  WH: \"#f4a261\",\n  MDP: \"#e76f51\",\n  IOS: \"#264653\",\n  HCD: \"#457b9d\",\n  BDA: \"#3F0D12\"\n};\n\nconst defaultColor = \"#888888\";\n\n\n// ========== 1️⃣ Validasi kolom ==========\nconst sample = rows[0] || {};\nconst dicCol = Object.keys(sample).find(k => /^dic$/i.test(k));\nif (!dicCol) throw new Error(\"❌ Tidak ditemukan kolom 'DIC'\");\n\nconst initCol = Object.keys(sample).find(k => /^initiative$/i.test(k));\nif (!initCol) throw new Error(\"❌ Tidak ditemukan kolom 'Initiative'\");\n\n\n// ========== 2️⃣ Agregasi ==========\nconst byDIC = {};\nfor (const r of rows) {\n  const dic = (r[dicCol] || \"UNSPECIFIED\").toString().trim();\n  const initiative = (r[initCol] || \"\").toString().trim();\n\n  if (!byDIC[dic]) {\n    byDIC[dic] = { DIC: dic, activities_count: 0, initiatives: new Set() };\n  }\n\n  byDIC[dic].activities_count++;\n  if (initiative) byDIC[dic].initiatives.add(initiative);\n}\n\n\n// ========== 3️⃣ Reform hasil ==========\nconst resultArray = Object.values(byDIC).map(x => ({\n  DIC: x.DIC,\n  activities_count: x.activities_count,\n  initiatives_count: x.initiatives.size\n}));\n\n\n// ========== 4️⃣ Sort ABC ==========\nconst sortedAlpha = [...resultArray].sort((a, b) => a.DIC.localeCompare(b.DIC));\n\n\n// ========== 5️⃣ Warna ==========\nconst colorsAlpha = sortedAlpha.map(r => deptColors[r.DIC] || defaultColor);\n\n\n// ========== 6️⃣ Hitung maksimum global ==========\nconst maxActivity = Math.max(...sortedAlpha.map(r => r.activities_count));\nconst maxInitiative = Math.max(...sortedAlpha.map(r => r.initiatives_count));\nconst maxGlobal = Math.max(maxActivity, maxInitiative) + 5;\n\n\n// ========== 7️⃣ Chart Config — tambahkan datalabels ==========\nconst baseOptions = {\n  responsive: true,\n  plugins: {\n    datalabels: {\n      anchor: \"end\",\n      align: \"top\",\n      color: \"#000\",\n      font: { weight: \"bold\", size: 12 },\n      formatter: v => v\n    }\n  },\n  scales: {\n    yAxes: [{\n      ticks: {\n        beginAtZero: true,\n        min: 0,\n        max: maxGlobal\n      }\n    }],\n    xAxes: [{}]\n  }\n};\n\nconst chartActivities = {\n  type: \"bar\",\n  data: {\n    labels: sortedAlpha.map(r => r.DIC),\n    datasets: [{\n      label: \"Activities per DIC\",\n      data: sortedAlpha.map(r => r.activities_count),\n      backgroundColor: colorsAlpha\n    }]\n  },\n  plugins: [\"chartjs-plugin-datalabels\"],\n  options: {\n    ...baseOptions,\n    plugins: {\n      ...baseOptions.plugins,\n      title: { display: true, text: \"Activities per DIC\" }\n    }\n  }\n};\n\nconst chartInitiatives = {\n  type: \"bar\",\n  data: {\n    labels: sortedAlpha.map(r => r.DIC),\n    datasets: [{\n      label: \"Initiatives per DIC\",\n      data: sortedAlpha.map(r => r.initiatives_count),\n      backgroundColor: colorsAlpha\n    }]\n  },\n  plugins: [\"chartjs-plugin-datalabels\"],\n  options: {\n    ...baseOptions,\n    plugins: {\n      ...baseOptions.plugins,\n      title: { display: true, text: \"Initiatives per DIC\" }\n    }\n  }\n};\n\n\n// ========== 8️⃣ Generate QuickChart URL ==========\nconst chartUrlActivities =\n  \"https://quickchart.io/chart?c=\" + encodeURIComponent(JSON.stringify(chartActivities));\n\nconst chartUrlInitiatives =\n  \"https://quickchart.io/chart?c=\" + encodeURIComponent(JSON.stringify(chartInitiatives));\n\n\n// ========== 9️⃣ Output ==========\nreturn [{\n  json: {\n    summary: resultArray,\n    chart_urls: {\n      activities: chartUrlActivities,\n      initiatives: chartUrlInitiatives\n    }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        16
      ],
      "id": "d51b57ef-95a6-4a8f-a048-9cc8fef0c675",
      "name": "Node E.2: initiatives per DIC4"
    },
    {
      "parameters": {
        "jsCode": "const chartUrls = $json.chart_urls;\n\n// ✅ Validasi input\nif (!chartUrls || !chartUrls.activities || !chartUrls.initiatives) {\n  throw new Error(\"❌ chart_urls tidak lengkap. Pastikan node sebelumnya menghasilkan 'activities' dan 'initiatives'.\");\n}\n\n// ✨ HTML layout (centered for all email clients)\nconst html = `\n  <div style=\"\n    width: 100%;\n    display: flex;\n    justify-content: center;\n    align-items: center;\n    font-family: Arial, sans-serif;\n    text-align: center;\n  \">\n    <div style=\"\n      display: flex;\n      flex-wrap: wrap;\n      justify-content: center;\n      align-items: flex-start;\n      gap: 40px;\n      max-width: 1100px;\n      margin: 0 auto;\n    \">\n\n      <!-- 🔄 INITIATIVES now on the LEFT -->\n      <div style=\"\n        flex: 1 1 480px;\n        max-width: 480px;\n        margin: 0 auto;\n      \">\n        <h2 style=\"color:#2F5496; text-align:center;\">📊 Initiatives per DIC</h2>\n        <img src=\"${chartUrls.initiatives}\" alt=\"Initiatives Chart\"\n             style=\"display:block; margin:0 auto; width:100%; border:1px solid #ccc; border-radius:10px; box-shadow:0 2px 6px rgba(0,0,0,0.1);\">\n      </div>\n\n      <!-- 🔄 ACTIVITIES now on the RIGHT -->\n      <div style=\"\n        flex: 1 1 480px;\n        max-width: 480px;\n        margin: 0 auto;\n      \">\n        <h2 style=\"color:#2F5496; text-align:center;\">📊 Activities per DIC</h2>\n        <img src=\"${chartUrls.activities}\" alt=\"Activities Chart\"\n             style=\"display:block; margin:0 auto; width:100%; border:1px solid #ccc; border-radius:10px; box-shadow:0 2px 6px rgba(0,0,0,0.1);\">\n      </div>\n\n    </div>\n  </div>\n`;\n\n// 📨 Return hasil siap dikirim\nreturn [{ json: { html } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "f7183129-8b18-46e5-8305-d44479cc1592",
      "name": "Container of E.2.1"
    },
    {
      "parameters": {
        "sendTo": "kmi.advanced@gmail.com",
        "subject": "tes automated activity plan",
        "message": "={{ $json.full_html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        6656,
        2080
      ],
      "id": "142a7898-cfe0-4c18-8819-0a96e3248df2",
      "name": "Send a message1",
      "webhookId": "9bc94e73-9086-49c3-827b-8bf4609f5634"
    },
    {
      "parameters": {
        "jsCode": "const rows = items.map(i => i.json);\nconst dicCol = \"DIC\";\n\n// 🔧 Normalisasi nama DIC → kolom departemen yang benar\nconst dicMapping = {\n  \"QAC\": \"QA\",\n  \"WHS\": \"WH\",\n  \"HCD\": \"HC\"\n};\n\n// 1️⃣ Ambil semua kolom\nconst sample = rows[0] || {};\nconst allCols = Object.keys(sample);\n\n// 2️⃣ Filter kolom departemen yang benar-benar 0/1\nlet deptCols = allCols.filter(col => {\n  if (col === dicCol) return false;\n\n  if (!/^[A-Za-z]+$/.test(col)) return false;\n\n  const vals = rows.map(r => r[col]);\n\n  let hasOne = false;\n  for (const v of vals) {\n    if (v === 1 || v === \"1\") hasOne = true;\n    else if (v === 0 || v === \"0\" || v === \"\" || v === null || v === undefined) continue;\n    else return false;\n  }\n\n  return hasOne;\n});\n\n// 3️⃣ Remove MNF\ndeptCols = deptCols.filter(d => d !== \"MNF\");\n\n// 4️⃣ Inisialisasi counter\nconst counts = {};\nfor (const dept of deptCols) {\n  counts[dept] = { DIC: dept, Core: 0, Support: 0 };\n}\n\n// 5️⃣ Hitung Core vs Support dengan normalisasi DIC\nfor (const row of rows) {\n  let dic = (row[dicCol] || \"\").toString().trim().toUpperCase();\n\n  // 🔧 Normalisasi DIC → kolom dept yang valid\n  if (dicMapping[dic]) dic = dicMapping[dic];\n\n  for (const dept of deptCols) {\n    const val = Number(row[dept]);\n\n    if (val !== 1) continue;\n\n    if (dept.toUpperCase() === dic) {\n      counts[dept].Core++;\n    } else {\n      counts[dept].Support++;\n    }\n  }\n}\n\n// 6️⃣ Return output rapi\nreturn Object.values(counts).map(x => ({ json: x }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        896
      ],
      "id": "6f767d40-d0df-4f40-b2dc-a1730e58dccf",
      "name": "Node J.1: Collaboration Culture Mapping edgeList7"
    },
    {
      "parameters": {
        "jsCode": "const rows = items.map(i => i.json);\nconst dicCol = \"DIC\";\n\n// 🔧 Normalisasi nama DIC → kolom departemen yang benar\nconst dicMapping = {\n  \"QAC\": \"QA\",\n  \"WHS\": \"WH\",\n  \"HCD\": \"HC\"\n};\n\n// 1️⃣ Ambil semua kolom & tentukan departemen valid (0/1)\nconst sample = rows[0] || {};\nlet deptCols = Object.keys(sample).filter(col => {\n  if (col === dicCol) return false;\n  if (!/^[A-Za-z]+$/.test(col)) return false;\n\n  const vals = rows.map(r => r[col]);\n  let hasOne = false;\n\n  for (const v of vals) {\n    if (v === 1 || v === \"1\") hasOne = true;\n    else if (v === 0 || v === \"0\" || v === \"\" || v == null) continue;\n    else return false;\n  }\n  return hasOne;\n});\n\n// 2️⃣ Buang MNF karena bukan departemen\ndeptCols = deptCols.filter(d => d !== \"MNF\");\n\n// 3️⃣ Warna per departemen\nconst deptColors = {\n  PRD: \"#1d3557\",\n  ENG: \"#e63946\",\n  QAC:  \"#2a9d8f\",\n  WH:  \"#f4a261\",\n  MDP: \"#e76f51\",\n  IOS: \"#264653\",\n  HCD:  \"#457b9d\",\n  BDA: \"#3F0D12\"\n};\n\n// 4️⃣ Siapkan matrix Supporter → Core\nconst supportMatrix = {};\nfor (const A of deptCols) {\n  supportMatrix[A] = {};\n  for (const B of deptCols) {\n    if (A !== B) supportMatrix[A][B] = 0;\n  }\n}\n\n// 5️⃣ Hitung kontribusi support (dengan normalisasi DIC)\nfor (const row of rows) {\n  let core = (row[dicCol] || \"\").trim().toUpperCase();\n\n  // ↪️ Normalisasi DIC bila mismatch\n  if (dicMapping[core]) {\n    core = dicMapping[core];\n  }\n\n  if (!deptCols.includes(core)) continue;\n\n  for (const dept of deptCols) {\n    const val = Number(row[dept]);\n    if (val === 1 && dept !== core) {\n      supportMatrix[dept][core] += 1;\n    }\n  }\n}\n\n// 6️⃣ Hitung nilai support terbesar dari seluruh matrix (global maximum)\nlet globalMax = 0;\n\nfor (const supporter of deptCols) {\n  const targets = supportMatrix[supporter];\n\n  if (targets && typeof targets === \"object\") {\n    for (const target of Object.keys(targets)) {\n      const v = Number(targets[target]) || 0;\n      if (v > globalMax) {\n        globalMax = v;\n      }\n    }\n  }\n}\n\nconst yMax = globalMax + 5;   // supaya chart tidak mepet atas\n\n\n// 7️⃣ Format output chart untuk tiap supporter\nconst result = [];\n\nfor (const supporter of deptCols) {\n  const targets = supportMatrix[supporter];\n  const labels = Object.keys(targets);\n  const values = Object.values(targets);\n  const barColors = labels.map(dep => deptColors[dep] || \"#999\");\n\n  const chartConfig = {\n    type: \"bar\",\n    data: {\n      labels,\n      datasets: [{\n        label: `${supporter} Provides Support for the Following Departments`,\n        data: values,\n        backgroundColor: barColors\n      }]\n    },\n  \n    plugins: [\"chartjs-plugin-datalabels\"],\n  \n    options: {\n      responsive: true,\n  \n      plugins: {\n        title: {\n          display: true,\n          text: `${supporter} Provides Support for the Following Departments`\n        },\n        datalabels: {\n          anchor: \"end\",\n          align: \"top\",\n          color: \"#000\",\n          font: { weight: \"bold\", size: 12 },\n          formatter: v => v\n        }\n      },\n  \n  scales: {\n    yAxes: [{\n      ticks: {\n        beginAtZero: true,\n        min: 0,\n        max: yMax,\n        precision: 0\n      },\n      scaleLabel: { display: true, labelString: \"Support Count\" }\n    }],\n    xAxes: [{\n      scaleLabel: { display: true, labelString: \"Target Department\" }\n    }]\n  }\n\n    }\n  };\n\n  \n  const chartUrl =\n    \"https://quickchart.io/chart?c=\" + encodeURIComponent(JSON.stringify(chartConfig));\n\n  result.push({\n    json: {\n      supporter,\n      support_distribution: targets,\n      chart_url: chartUrl\n    }\n  });\n}\n\nreturn result;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        1072
      ],
      "id": "56eeafa0-e9e5-454f-a81f-529efacee70d",
      "name": "Node J.2:3"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.all().map(i => i.json);\n\n// Validasi\nif (!Array.isArray(data) || data.length === 0) {\n  throw new Error(\"❌ Input harus berupa array chart support contribution.\");\n}\n\n// Helper: potong array per 3 elemen\nfunction chunk(arr, size = 3) {\n  const chunks = [];\n  for (let i = 0; i < arr.length; i += size) {\n    chunks.push(arr.slice(i, i + size));\n  }\n  return chunks;\n}\n\nconst groups = chunk(data, 3);\n\n// Bangun tabel per baris (3 kolom per tabel)\nconst tableSections = groups.map(group => {\n  const cells = group.map(d => `\n    <td style=\"\n      width: 300px;\n      text-align: center;\n      vertical-align: top;\n      padding: 10px;\n      border: 1px solid white;\n    \">\n      <h3 style=\"color:#2F5496; margin-bottom: 10px; font-size:16px; font-family:Arial;\">\n        Support Needed from ${d.supporter || \"\"}\n      </h3>\n\n      <img \n        src=\"${d.chart_url}\" \n        style=\"\n          width: 100%;\n          max-width: 280px;\n          border: 1px solid #ccc;\n          border-radius: 10px;\n          box-shadow: 0 2px 6px rgba(0,0,0,0.15);\n        \"\n      >\n    </td>\n  `).join(\"\");\n\n  // Tambahkan kolom kosong agar selalu 3 kolom\n  const emptyCells = 3 - group.length;\n  let filler = \"\";\n  if (emptyCells > 0) {\n    filler = `<td style=\"border:1px solid white;\"></td>`.repeat(emptyCells);\n  }\n\n  return `\n    <div align=\"center\" style=\"text-align:center; width:100%; margin: 0 auto 25px auto;\">\n      <table cellpadding=\"0\" cellspacing=\"0\" \n             style=\"\n               border-collapse: collapse;\n               margin-left:auto;\n               margin-right:auto;\n             \">\n        <tr>\n          ${cells}${filler}\n        </tr>\n      </table>\n    </div>\n  `;\n});\n\n// HTML final\nconst html = `\n  <div style=\"font-family: Arial; color:#333; width:100%; text-align:center;\">\n    <h2 style=\"text-align:center; color:#2F5496; margin-bottom: 25px;\">\n      📊 Support Needed Across Departments\n    </h2>\n\n    ${tableSections.join(\"\\n\")}\n  </div>\n`;\n\nreturn [{ json: { html } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        1088
      ],
      "id": "21544b4a-6e7f-4898-9183-06331196e701",
      "name": "Container of J.2: support contribution1"
    },
    {
      "parameters": {
        "jsCode": "// Ambil semua item dari input (tiap item = 1 output OpenAI)\nconst items = $input.all();\n\nlet rows = [];\n\nfor (const item of items) {\n  // Ambil teks output AI\n  const raw =\n    item.json.output?.[0]?.content?.[0]?.text ||\n    item.json.output?.content?.[0]?.text ||\n    item.json.text ||\n    null;\n\n  if (!raw) continue;\n\n  let obj;\n  try {\n    obj = JSON.parse(raw);   // {Activity, CategoryGroup, QCDSME}\n  } catch (e) {\n    throw new Error(\"❌ Gagal parse JSON OpenAI:\\n\" + raw);\n  }\n\n  // Masukkan ke format spreadsheet\n  rows.push({\n    json: {\n      Activity: obj.Activity || \"\",\n      Initiative: obj.Initiative || \"\",\n      \"Indicators (KSI/KMI/KPI/KAI)\": obj[\"Indicators (KSI/KMI/KPI/KAI)\"] || \"\",\n      QCDSME: obj.QCDSME || \"\"\n    }\n  });\n}\n\nreturn rows;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        2384
      ],
      "id": "aabf572e-167a-421e-a0ce-da78a87797ff",
      "name": "Code in JavaScript84",
      "disabled": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1mb4VxYfqvVt6mk6U0R-jD5TICMGM-WNbACJC8djQk9Y",
          "mode": "list",
          "cachedResultName": "Output OpenAI Klasifikasi QCDSME (Data Terbaru)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mb4VxYfqvVt6mk6U0R-jD5TICMGM-WNbACJC8djQk9Y/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mb4VxYfqvVt6mk6U0R-jD5TICMGM-WNbACJC8djQk9Y/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2064,
        2384
      ],
      "id": "81525e75-d2c5-4855-bb03-ccd23b543f57",
      "name": "Get row(s) in sheet8",
      "executeOnce": true,
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a205cd1f-d970-40ee-add3-72af867abdb8",
              "name": "Initiative",
              "value": "={{ $json.Initiative }}",
              "type": "string"
            },
            {
              "id": "5b753f09-fdb2-45c1-92fc-fd8fe80e58e7",
              "name": "QCDSME",
              "value": "={{ $json.QCDSME }}",
              "type": "string"
            },
            {
              "id": "2424dd04-bcd4-4de0-ac99-11d12c6d70c2",
              "name": "Indicators (KSI/KMI/KPI/KAI)",
              "value": "={{ $json['Indicators (KSI/KMI/KPI/KAI)'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2304,
        2384
      ],
      "id": "8f2e7b3e-ef13-46b2-9e17-22edcf788fab",
      "name": "Edit Fields19",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Ambil semua rows dari input\nconst rows = $input.all().map(item => item.json);\n\n// Hasilkan hanya 1 item dengan satu array bernama \"rows\"\nreturn [\n  {\n    json: {\n      rows\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        2320
      ],
      "id": "1bb7dd4b-544a-4cdf-9b5e-dede711a7763",
      "name": "GPT prompt untuk QCDSME dari KSI, KMI, KPI, KAI5"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini-2025-08-07",
          "mode": "list",
          "cachedResultName": "GPT-5-MINI-2025-08-07"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=You are an expert in manufacturing performance analysis for the food-processing industry.\n\nYour task:\nClassify each Activity item into exactly one of the QCDSME categories:\n\n• Q (Quality)\n• C (Cost / Efficiency)\n• D (Delivery / Throughput / Flow)\n• S (Safety / Risk / Compliance)\n• M (Morale / People / Training)\n• E (Environment / Waste / Sustainability)\n\n====================================================================\nINSTRUCTIONS\n====================================================================\n\nEach input item contains 3 equally important descriptive fields:\n\n- Activity   → core operational action\n- Objective  → intent / targeted outcome\n- Initiative → project-level description\n\nThese THREE fields must be treated as EQUAL primary descriptors.\nThey all describe the activity, none of them are “extra context”.\nYou must read and use all three together to infer the QCDSME category.\n\nAdditionally, the item includes:\n- Indicators (KSI/KMI/KPI/KAI) → ALWAYS use as-is. Do NOT infer.\n\nRules:\n1. Determine the SINGLE most dominant QCDSME category based on\n   Activity + Objective + Initiative.\n2. Output ONLY a short JSON object for the CURRENT item:\n\n{\n  \"Activity\": \"<exact text>\",\n  \"Indicators (KSI/KMI/KPI/KAI)\": \"<KSI/KMI/KPI/KAI>\",\n  \"Initiative\": \"<exact text>\"\n  \"QCDSME\": \"<Q|C|D|S|M|E>\"\n}\n\n3. Never produce a table.\n4. Never summarize multiple items.\n5. Never use memory from previous items.\n6. Handle ONE item at a time — n8n will call this model repeatedly.\n\n====================================================================\nCATEGORY DEFINITIONS (TF-IDF Derived Keyword Sets)\n====================================================================\n\nC (Cost / Efficiency):\n['reduce','complaint','project','cost','efficiency','customer','productivity',\n 'output','management','company','process','energy','optimize','saving','spoon',\n 'review','budget','profitability','improvement','increase','mapping','design',\n 'sales','gas','electrical','operation','excellent','improve','good','time']\n\nD (Delivery / Flow / Throughput):\n['increase','improvement','project','excellent','operation','line','warehouse',\n 'data','sachet','productivity','level','management','improve','integrated',\n 'process','ar','tpm','monitoring','network','cost','big','efficiency','output',\n 'culture','karakuri','dashboard','optimize','wh','poe','realibility']\n\nE (Environment / Waste / Sustainability):\n['process','manufacturing','excellent','energy','water','pest','hak','improvement',\n 'reduce','complient','proper','klhk','compliance','legal','afordable','clean',\n 'climate','action','13','support','sdgs','usage','regulation','gm5p','implemented',\n 'awareness','comply','management','decrease','control']\n\nM (Morale / People / Training):\n['employee','working','climate','training','build','good','section','operational',\n 'satisfaction','index','engagement','skill','education','leader','enggagement',\n 'company','potential','maximize','establish','matrix','increase','spv','er','ir',\n 'leadership','relation','increasing','maintained','survey','sustainability']\n\nQ (Quality):\n['excellent','line','quality','process','operation','increase','manufacturing',\n 'yield','project','drier','sachet','high','result','decrease','digital','di',\n 'intermittent','sampling','implementation','transformation','portofolio','manage',\n 'implemented','management','regulation','safety','comply','shp','kmi','inspection']\n\nS (Safety / Risk / Compliance):\n['zero','accident','bcp','risk','awareness','maintain','process','excellent','good',\n 'health','healthy','manufacturing','wellbeing','implementation','sosialisasi',\n 'update','business','company','enhancement','erm','management','register',\n 'future','secure','reporting','verification','evaluation','safety','strengthen',\n 'workplace']\n\n====================================================================\nIMPORTANT\n====================================================================\n\nIf no keyword matches, infer the most fitting category using intent,\nsemantics, and real-world manufacturing context.\n\nDo NOT output null.\nAlways choose exactly one category.\n\n====================================================================\nOUTPUT FORMAT (MANDATORY)\n====================================================================\n\nOutput ONLY this:\n\n{\n  \"Activity\": \"...\",\n  \"Initiative\": \"...\",\n  \"Indicators (KSI/KMI/KPI/KAI)\": \"...\",\n  \"QCDSME\": \"...\"\n}\n\nNo markdown.\nNo tables.\nNo explanation.\nNo commentary.\n"
            },
            {
              "content": "=Classify this activity into one QCDSME category:\n\nActivity: {{ $json.Activity }}\nObjective: {{ $json.Objective }}\nInitiative: {{ $json.Initiative }}\nIndicators (KSI/KMI/KPI/KAI): {{ $json[\"Indicators (KSI/KMI/KPI/KAI)\"] }}\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        880,
        2384
      ],
      "id": "5a4050a5-ca09-43ff-a84a-d17a3b8f33a4",
      "name": "Message a model5",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "function get(r, keys) {\n  for (const k of keys) {\n    if (r[k] !== undefined && r[k] !== null) {\n      return String(r[k]).trim();\n    }\n  }\n  return \"\";\n}\n\n// Ambil input (array of items that contain {rows: [...] })\nconst containers = $input.all().map(i => i.json);\n\n// Flatten rows dari semua items\nlet finalRows = [];\nfor (const c of containers) {\n  if (Array.isArray(c.rows)) {\n    for (const r of c.rows) {\n      finalRows.push(r);\n    }\n  }\n}\n\n// === Kata kunci Indicators sesuai nama kolom asli ===\nconst indicatorKeys = [\n  \"Indicators\",\n  \"Indicator\",\n  \"Indicators (KSI/KMI/KPI/KAI)\",\n  \"Indicators\\n(KSI/KMI/KPI/KAI)\",   // ← INI yang benar untuk datasetmu\n  \"INDICATORS\",\n  \"Indicator \",\n  \"Indicators \"\n];\n\n// Transform finalRows menjadi row minimal untuk GPT\nreturn finalRows.map(r => ({\n  json: {\n    Activity: get(r, [\"Activity\", \"Activities\", \"Activity \", \"ACTIVITY\"]),\n    Objective: get(r, [\"Objective\", \"Objectives\", \"OBJECTIVE\"]),\n    Initiative: get(r, [\"Initiative\", \"INITIATIVE\"]),\n    \n    // Output bebas pakai nama apapun\n    \"Indicators (KSI/KMI/KPI/KAI)\": get(r, indicatorKeys)\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        2464
      ],
      "id": "a9653b67-51f6-4389-a732-d3e3939ff21d",
      "name": "Code in JavaScript85"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().map(i => i.json);\n\nreturn [{\n  json: {\n    rows: items\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        2464
      ],
      "id": "681f6cd6-46d5-48d1-88e1-783b8cc3550a",
      "name": "Code in JavaScript86"
    },
    {
      "parameters": {
        "jsCode": "// ambil semua input\nconst all = $input.all();\n\n// flatten array \"rows\" dari setiap input\nlet out = [];\n\nfor (const item of all) {\n  if (Array.isArray(item.json.rows)) {\n    for (const r of item.json.rows) {\n      out.push({ json: r });\n    }\n  }\n}\n\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        2464
      ],
      "id": "bfc747b5-db9b-412a-a3b5-3367d513df62",
      "name": "Code in JavaScript87"
    },
    {
      "parameters": {
        "jsCode": "// Ambil semua item input (array of objects)\nconst items = $input.all();\n\n// Struktur tabel kosong\nconst table = {\n  KSI: { Q: [], C: [], D: [], S: [], M: [], E: [] },\n  KMI: { Q: [], C: [], D: [], S: [], M: [], E: [] },\n  KPI: { Q: [], C: [], D: [], S: [], M: [], E: [] },\n  KAI: { Q: [], C: [], D: [], S: [], M: [], E: [] },\n};\n\n// Loop seluruh hasil input\nfor (const item of items) {\n  const data = item.json;\n\n  const initiative = data.Initiative || \"\";\n  const indicator = data[\"Indicators (KSI/KMI/KPI/KAI)\"] || \"\";\n  const qcdsme = data.QCDSME || \"\";\n\n  if (table[indicator] && table[indicator][qcdsme]) {\n    table[indicator][qcdsme].push(\"• \" + initiative);\n  }\n}\n\n// Helper kolom HTML\nfunction col(list) {\n  return list.length ? list.join(\"<br>\") : \"\";\n}\n\nconst html = `\n<div style=\"width:100%; margin-top:20px; margin-bottom:30px;\">\n\n  <!-- Judul rata tengah -->\n  <h2 style=\"color:#2F5496; font-family:Arial; margin-bottom:20px; text-align:center;\">\n    📊 QCDSME Classification Summary\n  </h2>\n\n  <!-- Wrapper tabel yang dipusatkan -->\n  <div style=\"\n    max-width:1000px;\n    width:95%;\n    margin: 0 auto;     /* ⬅️ Ini yang bikin tabel ke tengah */\n    text-align:center;  /* Biar tabel tidak left-aligned secara keseluruhan */\n  \">\n\n    <table border=\"1\" cellpadding=\"6\" cellspacing=\"0\"\n      style=\"\n        border-collapse:collapse;\n        width:100%;\n        font-family:Arial;\n        font-size:12px;\n        margin: 0 auto;        /* ⬅️ Tabel benar-benar di tengah */\n        text-align:center;     /* Isi tabel rata tengah */\n      \">\n\n      <tr style=\"background:#f2f2f2; font-weight:bold;\">\n        <th></th>\n        <th>Q</th><th>C</th><th>D</th><th>S</th><th>M</th><th>E</th>\n      </tr>\n\n      <tr>\n        <td style=\"font-weight:bold;\">KSI</td>\n        <td>${col(table.KSI.Q)}</td>\n        <td>${col(table.KSI.C)}</td>\n        <td>${col(table.KSI.D)}</td>\n        <td>${col(table.KSI.S)}</td>\n        <td>${col(table.KSI.M)}</td>\n        <td>${col(table.KSI.E)}</td>\n      </tr>\n\n      <tr>\n        <td style=\"font-weight:bold;\">KMI</td>\n        <td>${col(table.KMI.Q)}</td>\n        <td>${col(table.KMI.C)}</td>\n        <td>${col(table.KMI.D)}</td>\n        <td>${col(table.KMI.S)}</td>\n        <td>${col(table.KMI.M)}</td>\n        <td>${col(table.KMI.E)}</td>\n      </tr>\n\n      <tr>\n        <td style=\"font-weight:bold;\">KPI</td>\n        <td>${col(table.KPI.Q)}</td>\n        <td>${col(table.KPI.C)}</td>\n        <td>${col(table.KPI.D)}</td>\n        <td>${col(table.KPI.S)}</td>\n        <td>${col(table.KPI.M)}</td>\n        <td>${col(table.KPI.E)}</td>\n      </tr>\n\n      <tr>\n        <td style=\"font-weight:bold;\">KAI</td>\n        <td>${col(table.KAI.Q)}</td>\n        <td>${col(table.KAI.C)}</td>\n        <td>${col(table.KAI.D)}</td>\n        <td>${col(table.KAI.S)}</td>\n        <td>${col(table.KAI.M)}</td>\n        <td>${col(table.KAI.E)}</td>\n      </tr>\n\n    </table>\n  </div>\n</div>\n`;\n\nreturn [{ json: { html } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3520,
        2496
      ],
      "id": "40611b33-a0e8-4fc7-8eb0-a6e54a92b0ff",
      "name": "Code in JavaScript88"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      rows: $input.all().map(i => i.json)\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        1904
      ],
      "id": "d52599c0-d87f-4abd-a390-0ecee10421f0",
      "name": "Mastiin KMI, KSI, KPI, KAI tidak ada yang sama antara dept5"
    },
    {
      "parameters": {
        "jsCode": "function get(r, keys) {\n  for (const k of keys) {\n    if (r[k] !== undefined && r[k] !== null) return String(r[k]);\n  }\n  return \"\";\n}\n\n// Ambil input (array of items that contain {rows: [...] })\nconst containers = $input.all().map(i => i.json);\n\n// Flatten rows dari semua items\nlet finalRows = [];\nfor (const c of containers) {\n  if (Array.isArray(c.rows)) {\n    for (const r of c.rows) {\n      finalRows.push(r);\n    }\n  }\n}\n\n// Transform finalRows menjadi row minimal untuk GPT\nreturn finalRows.map(r => ({\n  json: {\n    row_number: get(r, [\"row_number\"]),\n    Activity: get(r, [\"Activity\", \"Activities\", \"Activity \", \"ACTIVITY\"]),\n    Objective: get(r, [\"Objective\", \"Objectives\", \"OBJECTIVE\"]),\n    Initiative: get(r, [\"Initiative\", \"INITIATIVE\"]),\n    DIC: get(r, [\"DIC\"])\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        1904
      ],
      "id": "d14ac13a-fdda-47c9-a343-5ecabbeb543b",
      "name": "Code in JavaScript89"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().map(i => i.json);\n\nreturn [{\n  json: {\n    rows: items\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        1904
      ],
      "id": "d1fd8422-02fe-43e1-b868-8488c52b0488",
      "name": "Code in JavaScript90"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    rows: JSON.stringify($input.all().map(i => i.json))\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        1904
      ],
      "id": "183324c6-1235-44fe-984e-94f261785c6e",
      "name": "Code in JavaScript91"
    },
    {
      "parameters": {
        "jsCode": "// --- 1. Ambil input ---\nconst items = $input.all();\n\n// cari item rows\nconst rowsItem = items.find(i => Array.isArray(i.json.rows));\nif (!rowsItem) throw new Error(\"❌ Tidak ditemukan 'rows' di input.\");\n\n// rows sekarang = array of STRING JSON → parse satu per satu\nconst activities = rowsItem.json.rows.map(r => {\n  try {\n    return JSON.parse(r);\n  } catch (e) {\n    throw new Error(\"❌ Gagal JSON.parse pada elemen rows:\\n\" + r);\n  }\n});\n\n// cari item duplicates\nlet duplicatesItem = items.find(i => i.json.duplicates);\nif (!duplicatesItem) {\n  return [{\n    json: {\n      html: `\n        <div style=\"margin-top:20px; text-align:center; padding:25px;\n                    font-family:Arial; font-size:14px; \n                    border:1px solid #d9d9d9; border-radius:8px;\n                    background:#f9f9f9;\">\n          <h3 style=\"color:#2F5496;\">Analisis Duplikasi Activity</h3>\n          <p style=\"margin-top:10px; color:#555;\">\n            ❌ <strong>Tidak terdeteksi adanya aktivitas duplikat</strong>\n          </p>\n        </div>\n      `\n    }\n  }];\n}\n\nlet duplicatesRaw = duplicatesItem.json.duplicates;\n\n// parse duplicates\nlet duplicates;\nif (typeof duplicatesRaw === \"string\") {\n  try {\n    duplicates = JSON.parse(duplicatesRaw);\n  } catch (e) {\n    throw new Error(\"❌ Gagal parse duplicates:\\n\" + duplicatesRaw);\n  }\n} else {\n  duplicates = duplicatesRaw;\n}\n\n// HTML escaping\nfunction esc(v) {\n  if (v == null) return \"\";\n  return String(v)\n    .replace(/&/g, \"&amp;\")\n    .replace(/</g, \"&lt;\")\n    .replace(/>/g, \"&gt;\");\n}\n\n// --- 2. Index based on row_number ---\nconst map = {};\nactivities.forEach(a => {\n  map[a.row_number] = a;\n});\n\n// --- 3. Filter duplicates ---\nconst effectiveDuplicates = Array.isArray(duplicates)\n  ? duplicates.filter(d => d && d.rowA != null && d.rowB != null)\n  : [];\n\nif (!effectiveDuplicates.length) {\n  const cleanMessage = `\n    <div style=\"margin-top:20px; text-align:center; padding:25px;\n                font-family:Arial; font-size:14px; \n                border:1px solid #d9d9d9; border-radius:8px;\n                background:#f9f9f9;\">\n      <h3 style=\"color:#2F5496;\">Analisis Duplikasi Activity</h3>\n      <p style=\"margin-top:10px; color:#555;\">\n        ❌ <strong>Tidak terdeteksi adanya aktivitas duplikat</strong>\n      </p>\n    </div>\n  `;\n  return [{ json: { html: cleanMessage }}];\n}\n\n// --- 4. Build HTML sections ---\nlet sections = [];\n\neffectiveDuplicates.forEach((p, idx) => {\n  const A = map[p.rowA];\n  const B = map[p.rowB];\n\n  if (!A || !B) return;\n\n  const numA = Number(p.rowA) - 1;\n  const numB = Number(p.rowB) - 1;\n\n  const section = `\n    <div style=\"margin-bottom:25px;\">\n      <p style=\"font-family:Arial;font-size:13px;margin-bottom:8px;\">\n        <strong>Case ${idx + 1} (${esc(p.similarity)}):</strong> ${esc(p.reason)}\n      </p>\n\n      <table border=\"1\" cellpadding=\"4\" cellspacing=\"0\"\n             style=\"border-collapse:collapse;width:100%;font-family:Arial;font-size:11px;\">\n        <tr style=\"background:#f2f2f2;\">\n          <th>No</th><th>DIC</th><th>Objective</th><th>Initiative</th><th>Activity</th>\n        </tr>\n        <tr>\n          <td>${esc(numA)}</td>\n          <td>${esc(A.DIC)}</td>\n          <td>${esc(A.Objective)}</td>\n          <td>${esc(A.Initiative)}</td>\n          <td>${esc(A.Activity)}</td>\n        </tr>\n        <tr>\n          <td>${esc(numB)}</td>\n          <td>${esc(B.DIC)}</td>\n          <td>${esc(B.Objective)}</td>\n          <td>${esc(B.Initiative)}</td>\n          <td>${esc(B.Activity)}</td>\n        </tr>\n      </table>\n    </div>\n  `;\n\n  sections.push(section);\n});\n\n// --- 5. Final output ---\nreturn [{\n  json: {\n    html: `\n      <div style=\"\n        margin-top:20px;\n        padding:25px;\n        font-family:Arial;\n        font-size:14px;\n        border:1px solid #d9d9d9;\n        border-radius:8px;\n        background:#f9f9f9;\n      \">\n        <h2 style=\"\n          color:#2F5496;\n          margin-bottom:20px;\n          text-align:center;\n        \">\n          📊 Analisis Duplikasi Activity\n        </h2>\n\n        ${sections.join('<hr style=\"margin:20px 0;\">')}\n      </div>\n    `\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3328,
        2112
      ],
      "id": "a14957de-9493-40ec-8e30-6b946d5070c9",
      "name": "Code in JavaScript92"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini-2025-08-07",
          "mode": "list",
          "cachedResultName": "GPT-5-MINI-2025-08-07"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=You are an AI model that analyzes business activities based on three main descriptors:\n\n1. Objective\n2. Initiative\n3. Activity\n\nYour task is to detect whether any pair of activities represents the same essence of work.\nYou must evaluate similarity based on meaning, intent, operational scope, and alignment between Objective, Initiative, and Activity.\n\n### 🔥 **WEIGHTING RULE (critical)**\n\nSimilarity must be computed using the following weights:\n\n* **Activity = 70%**\n* **Initiative = 15%**\n* **Objective = 15%**\n\n### 🔥 HARD EXCLUSION RULES (never override)\n\nA pair must be considered **NOT similar (<50%)** and excluded from output if ANY of the following is true:\n\n#### **1. Different production lines**\n\nIf the activities mention different lines, machines, or production zones:\nExamples:\n\n* “line A” vs “line D”\n* “Increase AR line B” vs “Increase AR line sachet D”\n* “cartoning machine” vs “packing line”\n* “drier” vs “canning”\n* “chiller” vs “boiler”\n\n→ These represent different operational scopes.\n→ Automatically **not similar**, do not output.\n\n#### **2. “Total” vs non-total**\n\nIf one activity contains the word **“Total”** and the other does not:\nExample:\n\n* “Increase Yield Total”\n* “Increase Yield Drier Focus Product BMR & CMR”\n\n→ Hard 0% similarity; skip the pair.\n\n#### **3. Different machinery or domain**\n\nIf the two activities operate on different equipment types:\n\n* chiller vs boiler\n* spare parts vs cost efficiency\n* energy saving vs setup adjustment\n* warehouse vs production\n\n→ These should be scored < 50%.\n\n### 🔥 LANGUAGE NORMALIZATION\n\nTreat English and Indonesian as equivalent when meaning is aligned.\n\n### 🔥 IMPORTANT RULE — DIC FILTER\n\nIf rowA.DIC == rowB.DIC → skip pair entirely.\n\n---\n\n### 🔥 OUTPUT RULES\n\nOnly output pairs where final similarity ≥ 50%.\nSimilarity format must be:\n`\"<score>% (low|medium|high)\"`\n\nOutput only the JSON array, sorted from highest to lowest similarity.\n\n---\n\n# 💥 4. **Cara Weighting 70–15–15 Secara Logis**\n\nSaat menilai similarity:\n\n```\nSim = 0.70 * sim(Activity)\n    + 0.15 * sim(Initiative)\n    + 0.15 * sim(Objective)\n```\n\nArtinya:\n\n* Kalau Activity beda → similarity otomatis rendah\n* Initiative tidak boleh “mengangkat” similarity jika activity-nya sebenarnya beda\n* Objective hanya pendukung, bukan penentu utama\n\n---\n\n# 💥 5. **CONTOH PREDIKSI YANG BENAR (berdasarkan rules baru)**\n\n### ✔ Case yang HARUS dianggap similar:\n\n**row 11 vs row 41**\nPredictive maintenance → cluster sama\nScope = sama (machine health modeling)\n\n→ similarity tinggi (>= 90%)\n→ reason valid\n\n### ❌ Case yang HARUS dianggap TIDAK similar:\n\n#### (1) “Increase POE” vs “Increase AR line B”\n\nDifferent line → automatic skip\nEven if objective = same\n\n#### (2) “Increase Yield Total” vs “Increase Yield Drier Focus Product BMR & CMR”\n\nContains “Total” vs non-Total → not similar\n\n#### (3) “Improve PR and AR Packing Line” vs “Decrease Setup Adjustment”\n\nCompleeeetely different scopes → similarity < 30%\n\n---\n"
            },
            {
              "content": "=Siap, dollface 🌿—biar user prompt-nya juga *senada* dengan system prompt yang sudah diperkuat, aku buat versi yang lebih ketat, lebih eksplisit, dan *tidak memberi ruang interpretasi longgar* pada model.\n\nResult-nya: **lebih presisi, lebih aman dari false positive, dan tidak ada lagi deteksi “mirip padahal jelas-jelas beda scope/line”.**\n\n---\n\n\n\nYou will receive an array of objects called **\"rows\"**, each containing:\n\n* `row_number`\n* `Objective`\n* `Initiative`\n* `Activity`\n* `Category`\n* `DIC`\n\nYour task:\n\n1. **Compare ALL possible row pairs**.\n2. **SKIP any pair where `rowA.DIC == rowB.DIC`.**\n   (Activities from the same DIC must NEVER be compared or included.)\n3. Compute semantic similarity using the weighted formula:\n\n   * **Activity = 70%**\n   * **Initiative = 15%**\n   * **Objective = 15%**\n4. Consider English and Indonesian equivalent for meaning.\n5. Apply the following **HARD EXCLUSION RULES** —\n   If ANY of these conditions are true for a pair, the similarity must be **<50%** and the pair must **NOT** be output:\n\n   * The activities refer to **different production lines**, packaging lines, or machine lines\n     (e.g., “line A” vs “line D”, “AR line B” vs “AR line sachet D”, “drier” vs “canning”, “cartoning machine” vs “packing line”).\n   * One activity contains **“Total”** while the other does NOT.\n   * The activities refer to **different machine domains**\n     (e.g., chiller vs boiler, spare-part mapping vs energy-saving, warehouse vs production).\n6. Only output pairs where the **final similarity score ≥ 50%** after applying both:\n\n   * hard exclusion rules\n   * weighted semantic similarity\n7. For each valid pair, output the following fields:\n\n```\n{\n  \"rowA\": <row_number>,\n  \"rowB\": <row_number>,\n  \"similarity\": \"<score>% (low|medium|high)\",\n  \"reason\": \"<short explanation>\",\n  \"rowA_DIC\": \"...\"\n  \"rowA_Objective\": \"...\",\n  \"rowA_Initiative\": \"...\",\n  \"rowA_Activity\": \"...\",\n  \"rowB_DIC\": \"...\"\n  \"rowB_Objective\": \"...\",\n  \"rowB_Initiative\": \"...\",\n  \"rowB_Activity\": \"...\"\n}\n```\n\n8. Sort the results **from highest similarity to lowest**.\n9. Output **ONLY** a JSON array — no markdown, no commentary.\n\nNow analyze the following data:\n\n```\n{{ $json.rows }}\n```\n\n\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        640,
        1776
      ],
      "id": "0784603f-c762-408f-8794-f7c26ff601e6",
      "name": "mastiin tidak ada aktivitas duplikat5",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0886e843-d022-4bba-acbe-10beea02f5e0",
              "name": "rows",
              "value": "={{$json}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        2096
      ],
      "id": "2baa9154-6f37-4ba0-a43e-79d3a342a674",
      "name": "Edit Fields20"
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json.rows);\nreturn [{ json: { rows } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        2096
      ],
      "id": "f776641e-3969-48c6-b49f-21fbe4219835",
      "name": "Code in JavaScript93"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ba6b1425-db55-474b-ba77-f7cb2cc67ee7",
              "name": "duplicates",
              "value": "={{ $json.duplicate_json }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2256,
        1904
      ],
      "id": "0f1a85a2-188e-43ca-acf6-200fca10f6c3",
      "name": "Edit Fields21"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2928,
        2016
      ],
      "id": "b68b2359-1567-4be4-9350-f315ea3afb54",
      "name": "Merge48"
    },
    {
      "parameters": {
        "jsCode": "// Ambil output OpenAI\nconst raw = $json.output?.[0]?.content?.[0]?.text \n         || $json.output?.content?.[0]?.text\n         || $json.text\n         || \"\";\n\nif (!raw) {\n  throw new Error(\"❌ Tidak ada output OpenAI.\");\n}\n\n// Parse JSON array hasil OpenAI\nlet duplicates;\ntry {\n  duplicates = JSON.parse(raw);\n} catch (e) {\n  throw new Error(\"❌ Gagal parse JSON hasil OpenAI:\\n\" + raw);\n}\n\n// Ubah ke format untuk spreadsheet\nconst rows = duplicates.map(d => ({\n  rowA: d.rowA,\n  rowB: d.rowB,\n  similarity: d.similarity,\n  reason: d.reason,\n  rowA_DIC: d.rowA_DIC,\n  rowA_Objective: d.rowA_Objective,\n  rowA_Initiative: d.rowA_Initiative,\n  rowA_Activity: d.rowA_Activity,\n  rowB_DIC: d.rowB_DIC,\n  rowB_Objective: d.rowB_Objective,\n  rowB_Initiative: d.rowB_Initiative,\n  rowB_Activity: d.rowB_Activity\n}));\n\nreturn rows.map(r => ({ json: r }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        1776
      ],
      "id": "f28931e7-1af4-4fee-9437-44933e9fa985",
      "name": "Code in JavaScript94",
      "disabled": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "11ur5Wy-BAE7PcRrI9N8aVyqD6SB5BvKMbHh4u5NhDcw",
          "mode": "list",
          "cachedResultName": "Output OpenAI Deteksi Activity Duplikat (Data Terbaru)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11ur5Wy-BAE7PcRrI9N8aVyqD6SB5BvKMbHh4u5NhDcw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 197233886,
          "mode": "list",
          "cachedResultName": "70 15 15",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11ur5Wy-BAE7PcRrI9N8aVyqD6SB5BvKMbHh4u5NhDcw/edit#gid=197233886"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1648,
        1904
      ],
      "id": "bfbaa63a-8e92-4d1c-99b9-51dfcf3fb2cc",
      "name": "Get row(s) in sheet9",
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Input adalah array item\nconst items = $input.all().map(i => i.json);\n\n// Validasi\nif (!Array.isArray(items) || items.length === 0) {\n  throw new Error(\"❌ Input tidak berisi array duplikasi.\");\n}\n\n// Ubah ke format spreadsheet:\n// row_number && duplicate_json (stringified)\nconst rowsForSheet = items.map(obj => ({\n  json: {\n    row_number: obj.row_number || null,\n    duplicate_json: JSON.stringify(obj)\n  }\n}));\n\nreturn rowsForSheet;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2048,
        1904
      ],
      "id": "f7c3c12b-9e5e-4ed2-867c-3774a94c5461",
      "name": "Code in JavaScript95"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4c62f383-dffc-4939-801a-0d5c7ae960ad",
              "name": "rowA",
              "value": "={{ $json.rowA }}",
              "type": "string"
            },
            {
              "id": "9c8554b2-6d8d-42b0-adef-c2ba7ac16f9c",
              "name": "rowB",
              "value": "={{ $json.rowB }}",
              "type": "string"
            },
            {
              "id": "e23ed703-c099-4b08-b8eb-fe9a5ca4ea53",
              "name": "similarity",
              "value": "={{ $json.similarity }}",
              "type": "string"
            },
            {
              "id": "29196c50-32b4-45bc-b32b-c27dd8920403",
              "name": "reason",
              "value": "={{ $json.reason }}",
              "type": "string"
            },
            {
              "id": "52a1d022-8b5b-4365-a5f5-057cfe6227e3",
              "name": "rowA_DIC",
              "value": "={{ $json.rowA_DIC }}",
              "type": "string"
            },
            {
              "id": "b7c75910-6c0d-4a6f-98d3-5c53e9552b3d",
              "name": "rowA_Objective",
              "value": "={{ $json.rowA_Objective }}",
              "type": "string"
            },
            {
              "id": "ff89a47b-da3e-4e35-9b73-135c88b01f17",
              "name": "rowA_Initiative",
              "value": "={{ $json.rowA_Initiative }}",
              "type": "string"
            },
            {
              "id": "29789499-369e-4413-ad8a-4706138fff37",
              "name": "rowA_Activity",
              "value": "={{ $json.rowA_Activity }}",
              "type": "string"
            },
            {
              "id": "ff19e8a4-c79f-4aef-869c-e7fad1be0860",
              "name": "rowB_DIC",
              "value": "={{ $json.rowB_DIC }}",
              "type": "string"
            },
            {
              "id": "aff19fcf-fcb1-450d-820d-d259b0dba143",
              "name": "rowB_Objective",
              "value": "={{ $json.rowB_Objective }}",
              "type": "string"
            },
            {
              "id": "8b9cfd0a-fbe8-417a-b4ab-a9d3757c8e08",
              "name": "rowB_Initiative",
              "value": "={{ $json.rowB_Initiative }}",
              "type": "string"
            },
            {
              "id": "ef34e38c-71d0-4010-918b-5e8ed0d8a644",
              "name": "rowB_Activity",
              "value": "={{ $json.rowB_Activity }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1792,
        1888
      ],
      "id": "0bc2afc2-6823-4a51-b6e9-ffeee4fccce7",
      "name": "Edit Fields22"
    },
    {
      "parameters": {
        "jsCode": "// Ambil seluruh item dari input node sebelumnya\nconst items = $input.all();\n\n// Array final untuk menampung semua hasil parse JSON\nlet duplicatesArray = [];\n\n// Loop semua item input\nfor (const item of items) {\n\n  // Ambil string JSON dari field \"duplicates\"\n  const raw = item.json.duplicates;\n\n  // Lewati jika tidak ada data\n  if (!raw) continue;\n\n  try {\n    // Parse string JSON → object\n    const obj = JSON.parse(raw);\n\n    // Masukkan ke array final\n    duplicatesArray.push(obj);\n\n  } catch (e) {\n    throw new Error(\"❌ Gagal parse salah satu duplicates:\\n\" + raw);\n  }\n}\n\n// Kembalikan 1 item saja berisi array-nya\nreturn [{\n  json: {\n    duplicates: duplicatesArray\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2464,
        1904
      ],
      "id": "8029b790-62e2-4c75-bf4c-9e8504f1da8c",
      "name": "Code in JavaScript96"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1mb4VxYfqvVt6mk6U0R-jD5TICMGM-WNbACJC8djQk9Y",
          "mode": "list",
          "cachedResultName": "Output OpenAI Klasifikasi QCDSME (Data Terbaru)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mb4VxYfqvVt6mk6U0R-jD5TICMGM-WNbACJC8djQk9Y/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mb4VxYfqvVt6mk6U0R-jD5TICMGM-WNbACJC8djQk9Y/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Activity": "={{ $json.Activity }}",
            "QCDSME": "={{ $json.QCDSME }}",
            "CategoryGroup": "={{ $json[\"Indicators (KSI/KMI/KPI/KAI)\"] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Activity",
              "displayName": "Activity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CategoryGroup",
              "displayName": "CategoryGroup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "QCDSME",
              "displayName": "QCDSME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1856,
        2384
      ],
      "id": "bc4f1850-4016-41f5-9c2b-d20ffc37703f",
      "name": "Append row in sheet6",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Ambil semua input\nconst items = $input.all().map(i => i.json);\n\n// Validasi harus array\nif (!Array.isArray(items)) {\n  throw new Error(\"❌ Input bukan array.\");\n}\n\n// Ubah setiap object menjadi 1 item n8n\nreturn items.map(obj => ({\n  json: {\n    //Activity: obj.Activity || \"\",\n    Initiative: obj.Initiative || \"\",\n    \"Indicators (KSI/KMI/KPI/KAI)\": obj[\"Indicators (KSI/KMI/KPI/KAI)\"] || \"\",\n    QCDSME: obj.QCDSME || \"\"\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3280,
        2512
      ],
      "id": "bd06cbe8-031f-413f-8bde-3d65f861dc67",
      "name": "Code in JavaScript97"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "11ur5Wy-BAE7PcRrI9N8aVyqD6SB5BvKMbHh4u5NhDcw",
          "mode": "list",
          "cachedResultName": "Output OpenAI Deteksi Activity Duplikat (Data Terbaru)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11ur5Wy-BAE7PcRrI9N8aVyqD6SB5BvKMbHh4u5NhDcw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 197233886,
          "mode": "list",
          "cachedResultName": "70 15 15",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11ur5Wy-BAE7PcRrI9N8aVyqD6SB5BvKMbHh4u5NhDcw/edit#gid=197233886"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "rowA": "={{ $json.rowA }}",
            "rowB": "={{ $json.rowB }}",
            "similarity": "={{ $json.similarity }}",
            "reason": "={{ $json.reason }}",
            "rowA_Objective": "={{ $json.rowA_Objective }}",
            "rowA_Initiative": "={{ $json.rowA_Initiative }}",
            "rowA_Activity": "={{ $json.rowA_Activity }}",
            "rowB_Objective": "={{ $json.rowB_Objective }}",
            "rowB_Initiative": "={{ $json.rowB_Initiative }}",
            "rowB_Activity": "={{ $json.rowB_Activity }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "rowA",
              "displayName": "rowA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "rowB",
              "displayName": "rowB",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "similarity",
              "displayName": "similarity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reason",
              "displayName": "reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "rowA_Objective",
              "displayName": "rowA_Objective",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "rowA_Initiative",
              "displayName": "rowA_Initiative",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "rowA_Activity",
              "displayName": "rowA_Activity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "rowB_Objective",
              "displayName": "rowB_Objective",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "rowB_Initiative",
              "displayName": "rowB_Initiative",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "rowB_Activity",
              "displayName": "rowB_Activity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1440,
        1792
      ],
      "id": "45ac62b4-2ff9-49d0-9091-543344222fd1",
      "name": "Append row in sheet7",
      "executeOnce": false,
      "disabled": true
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "value": "1mb4VxYfqvVt6mk6U0R-jD5TICMGM-WNbACJC8djQk9Y",
          "mode": "list",
          "cachedResultName": "Output OpenAI Klasifikasi QCDSME (Data Terbaru)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mb4VxYfqvVt6mk6U0R-jD5TICMGM-WNbACJC8djQk9Y/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mb4VxYfqvVt6mk6U0R-jD5TICMGM-WNbACJC8djQk9Y/edit#gid=0"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1600,
        2384
      ],
      "id": "9e4cee95-b43f-4d9a-a5e1-8aae66e6466b",
      "name": "Clear Sheet Before Append4",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3888,
        1824
      ],
      "id": "c27b44d5-aec1-49d6-8a69-c81b22f827b6",
      "name": "Merge49"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4208,
        2256
      ],
      "id": "12daf409-5002-4144-89b4-07e8a535c68a",
      "name": "Merge50"
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "value": "11ur5Wy-BAE7PcRrI9N8aVyqD6SB5BvKMbHh4u5NhDcw",
          "mode": "list",
          "cachedResultName": "Output OpenAI Deteksi Activity Duplikat (Data Terbaru)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11ur5Wy-BAE7PcRrI9N8aVyqD6SB5BvKMbHh4u5NhDcw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 197233886,
          "mode": "list",
          "cachedResultName": "70 15 15",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11ur5Wy-BAE7PcRrI9N8aVyqD6SB5BvKMbHh4u5NhDcw/edit#gid=197233886"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1264,
        1776
      ],
      "id": "d95c91bf-1268-4c44-a4e1-1927ce8674ad",
      "name": "Clear Sheet Before Append5",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const itemsOut = [];\n\nfor (const item of items) {\n  const row = { ...item.json };\n\n  // Filter utama\n  if (\n    row[\"Category Activity\"] !== \"Time based\" ||\n    row[\"Category Strategic\"] !== \"Strategic\"\n  ) {\n    continue; // skip jika tidak memenuhi kondisi\n  }\n\n  // Fungsi pemendek bulan\n  function shorten(v) {\n    if (!v) return v;\n    return v.toString().trim().slice(0, 3);\n  }\n\n  // Pendekkan Start Month & End Month\n  if (row[\"Start Month\"]) {\n    row[\"Start Month\"] = shorten(row[\"Start Month\"]);\n  }\n\n  if (row[\"End Month\"]) {\n    row[\"End Month\"] = shorten(row[\"End Month\"]);\n  }\n\n  // Hanya push row yang memenuhi kondisi filter\n  itemsOut.push({ json: row });\n}\n\nreturn itemsOut;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        2736
      ],
      "id": "af048b1c-c7c8-4ddd-b799-90507fc09548",
      "name": "jumlah aktivitas dalam satu bulan1",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9420f69-893f-424b-95c4-2e0e5b8c11a8",
              "name": "Jan",
              "value": "",
              "type": "string"
            },
            {
              "id": "84ad1ac8-0f04-43fb-bac7-5599fb008ae7",
              "name": "Feb",
              "value": "",
              "type": "string"
            },
            {
              "id": "aed8c1d4-f7ef-4aa8-b551-9594809513dc",
              "name": "Mar",
              "value": "",
              "type": "string"
            },
            {
              "id": "53a88871-14b7-4287-b4eb-1de922bb036d",
              "name": "Apr",
              "value": "",
              "type": "string"
            },
            {
              "id": "cf0cdbaf-cebf-4c89-9f81-2516d4890749",
              "name": "May",
              "value": "",
              "type": "string"
            },
            {
              "id": "d9b1b195-898b-435d-b97a-30b0d21139a2",
              "name": "Jun",
              "value": "",
              "type": "string"
            },
            {
              "id": "55213113-0c30-470b-9920-1f89dca853b7",
              "name": "Jul",
              "value": "",
              "type": "string"
            },
            {
              "id": "86be2d56-1ada-4b96-94ad-7f6a6cda20f3",
              "name": "Aug",
              "value": "",
              "type": "string"
            },
            {
              "id": "43e370d1-b376-47dd-b8ea-d01f44be91f9",
              "name": "Sep",
              "value": "",
              "type": "string"
            },
            {
              "id": "3fa5513e-9b6e-4bd0-8e49-db61ae295e0d",
              "name": "Oct",
              "value": "",
              "type": "string"
            },
            {
              "id": "f5ed4cfb-9a30-45cc-8943-c9fb34b70aff",
              "name": "Nov",
              "value": "",
              "type": "string"
            },
            {
              "id": "6ddd5413-3453-4ea8-9e25-fb4850e99bcd",
              "name": "Dec",
              "value": "",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        2736
      ],
      "id": "97058121-5269-41ed-85c7-7e2a133b4ba5",
      "name": "Edit Fields23",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const rowsOut = [];\n\nconst months = [\"Jan\",\"Feb\",\"Mar\",\"Apr\",\"May\",\"Jun\",\"Jul\",\"Aug\",\"Sep\",\"Oct\",\"Nov\",\"Dec\"];\n\nfor (const item of items) {\n  const row = { ...item.json };\n\n  const start = row[\"Start Month\"] ? row[\"Start Month\"].toString().trim() : null;\n  const end   = row[\"End Month\"] ? row[\"End Month\"].toString().trim() : null;\n\n  // default: semua bulan = 0\n  for (const m of months) {\n    row[m] = 0;\n  }\n\n  // jika start atau end tidak valid → skip\n  if (!months.includes(start) || !months.includes(end)) {\n    rowsOut.push({ json: row });\n    continue;\n  }\n\n  const startIdx = months.indexOf(start);\n  const endIdx   = months.indexOf(end);\n\n  // --- kasus normal: Jan–Dec tanpa wrap-around ---\n  if (startIdx <= endIdx) {\n    for (let i = startIdx; i <= endIdx; i++) {\n      row[months[i]] = 1;\n    }\n  }\n\n  // --- kasus wrap-around (misal Oct → Feb) ---\n  else {\n    for (let i = startIdx; i < months.length; i++) {\n      row[months[i]] = 1;\n    }\n    for (let i = 0; i <= endIdx; i++) {\n      row[months[i]] = 1;\n    }\n  }\n\n  rowsOut.push({ json: row });\n}\n\nreturn rowsOut;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        2736
      ],
      "id": "fdac2a8e-aefe-436b-9a12-a0dada26dc3a",
      "name": "Code in JavaScript3",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const rows = items.map(i => i.json);\n\nconst months = [\"Jan\",\"Feb\",\"Mar\",\"Apr\",\"May\",\"Jun\",\"Jul\",\"Aug\",\"Sep\",\"Oct\",\"Nov\",\"Dec\"];\n\n// 1️⃣ Inisialisasi counter\nconst totals = {};\nmonths.forEach(m => totals[m] = 0);\n\n// 2️⃣ Jumlahkan nilai bulan per row\nfor (const row of rows) {\n  for (const m of months) {\n    const v = Number(row[m]) || 0;\n    totals[m] += v;\n  }\n}\n\n// 3️⃣ Warna unik per bulan\nconst colors = {\n  Jan: \"#FF6B6B\",\n  Feb: \"#4ECDC4\",\n  Mar: \"#FFD166\",\n  Apr: \"#06D6A0\",\n  May: \"#118AB2\",\n  Jun: \"#073B4C\",\n  Jul: \"#EF476F\",\n  Aug: \"#8D99AE\",\n  Sep: \"#F4A261\",\n  Oct: \"#2A9D8F\",\n  Nov: \"#E76F51\",\n  Dec: \"#3A86FF\"\n};\n\n// 4️⃣ Chart config (Chart.js v2 syntax — lebih patuh di QuickChart)\nconst chartConfig = {\n  type: \"bar\",\n  data: {\n    labels: months,\n    datasets: [{\n      label: \"Activity Count per Month\",\n      data: months.map(m => totals[m]),\n      backgroundColor: months.map(m => colors[m])\n    }]\n  },\n  options: {\n    responsive: true,\n    plugins: {\n      title: { display: true, text: \"Monthly Activity Count\" },\n      legend: { display: false }\n    },\n    scales: {\n      yAxes: [{\n        ticks: { \n          beginAtZero: true,\n          min: 0\n        },\n        scaleLabel: { display: true, labelString: \"Count\" }\n      }],\n      xAxes: [{\n        scaleLabel: { display: true, labelString: \"Month\" }\n      }]\n    }\n  }\n};\n\n// 5️⃣ Generate QuickChart URL\nconst chartUrl =\n  \"https://quickchart.io/chart?c=\" +\n  encodeURIComponent(JSON.stringify(chartConfig));\n\nreturn [{\n  json: {\n    totals_per_month: totals,\n    chart_url: chartUrl\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        2736
      ],
      "id": "1f3dbf9c-9dd5-4647-b31b-a182159f6bf2",
      "name": "Code in JavaScript4",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4736,
        2528
      ],
      "id": "268cce33-3726-4d64-829c-60676657efc6",
      "name": "Merge51"
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\n\n// Validasi chart_url\nif (!data.chart_url) {\n  throw new Error(\"❌ chart_url tidak ditemukan pada input node.\");\n}\n\nconst chartUrl = data.chart_url;\n\n// ✨ HTML container\nconst html = `\n  <div style=\"\n    width: 100%;\n    display: flex;\n    justify-content: center;\n    align-items: center;\n    font-family: Arial, sans-serif;\n    text-align: center;\n  \">\n    <div style=\"\n      display: flex;\n      flex-wrap: wrap;\n      justify-content: center;\n      align-items: flex-start;\n      gap: 40px;\n      max-width: 1100px;\n      margin: 0 auto;\n    \">\n    \n      <!-- Chart Monthly Activities -->\n      <div style=\"\n        flex: 1 1 480px;\n        max-width: 480px;\n        margin: 0 auto;\n      \">\n        <h3 style=\"color:#2F5496; text-align:center;\">📊 Total Activities per Month</h3>\n\n        <img \n          src=\"${chartUrl}\"\n          alt=\"Monthly Activity Chart\"\n          style=\"\n            display:block;\n            margin:0 auto;\n            width:100%;\n            border:1px solid #ccc;\n            border-radius:10px;\n            box-shadow:0 2px 6px rgba(0,0,0,0.1);\n          \"\n        >\n      </div>\n\n    </div>\n  </div>\n`;\n\n// Output HTML\nreturn [{ json: { html } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        2720
      ],
      "id": "e1370f96-275e-439e-931b-d450379b0eac",
      "name": "Container chart activities per month1",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2480,
        2832
      ],
      "id": "4a452ad9-6882-4938-888c-82db50400d05",
      "name": "Merge52",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Ambil input\nconst input = $input.all()[0].json;\n\n// Validasi\nif (!input.activities_Jan_to_Dec || !Array.isArray(input.activities_Jan_to_Dec)) {\n  throw new Error(\"❌ Data 'activities_Jan_to_Dec' tidak ditemukan atau bukan array.\");\n}\n\nconst list = input.activities_Jan_to_Dec;\n\n// Bangun baris tabel\nconst tableRows = list.map(item => `\n  <tr>\n    <td style=\"text-align:center;\">${item.No ?? ''}</td>\n    <td>${item.Activity ?? ''}</td>\n  </tr>\n`).join('');\n\n// Bungkus HTML seperti template yang kamu kasih\nconst html = `\n  <div style=\"width:100%; text-align:center; margin-top:20px; margin-bottom:30px;\">\n    \n    <h4 style=\"color:#2F5496; font-family:Arial; margin-bottom:15px;font-style: italic;\">\n      📅 Activities Running from Jan to Dec\n    </h4>\n\n\n    <div style=\"\n      display:inline-block;\n      max-width:900px;\n      width:90%;\n      text-align:left;\n    \">\n      <table border=\"1\" cellpadding=\"6\" cellspacing=\"0\"\n             style=\"\n               border-collapse:collapse;\n               width:100%;\n               font-family:Arial;\n               font-size:12px;\n             \">\n        <tr style=\"background:#f2f2f2; text-align:center; font-weight:bold;\">\n          <th style=\"width:60px;\">No</th>\n          <th>Activity</th>\n        </tr>\n        ${tableRows}\n      </table>\n    </div>\n  </div>\n`;\n\nreturn [{ json: { html } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        2976
      ],
      "id": "28433b89-3c66-48fb-ba73-2119185e634b",
      "name": "Container of list aktivitas jan-dec1",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Ambil semua input\nconst items = $input.all().map(i => i.json);\n\n// List kategori yang ingin dijumlahkan\nconst categories = [\"Budget Capex\", \"Budget Department\", \"Not Use Budget\"];\n\n// Inisialisasi counter total\nconst totals = {\n  \"Budget Capex\": 0,\n  \"Budget Department\": 0,\n  \"Not Use Budget\": 0\n};\n\n// Loop setiap department\nfor (const dept of items) {\n  const summary = dept.summary || [];\n\n  for (const row of summary) {\n    const cat = row.category;\n    const count = Number(row.count) || 0;\n\n    if (categories.includes(cat)) {\n      totals[cat] += count;\n    }\n  }\n}\n\n// Buat tabel HTML (RATA TENGAH)\nconst html = `\n  <div style=\"\n      width:100%;\n      text-align:center;\n      margin-top:20px;\n      margin-bottom:30px;\n      font-family:Arial;\n    \">\n\n    <h4 style=\"color:#2F5496; margin-bottom:15px; text-align:center;font-style: italic;\">\n      🧾 Total Budget Category (Across All Departments)\n    </h4>\n\n    <table border=\"1\" cellpadding=\"6\" cellspacing=\"0\"\n      style=\"\n        border-collapse:collapse;\n        width:50%;\n        margin-left:auto;\n        margin-right:auto;\n        text-align:center;\n        font-size:13px;\n      \">\n      <tr style=\"background:#f2f2f2; font-weight:bold;\">\n        <th>Category</th>\n        <th>Total</th>\n      </tr>\n\n      ${categories.map(cat => `\n        <tr>\n          <td>${cat}</td>\n          <td>${totals[cat]}</td>\n        </tr>\n      `).join(\"\")}\n\n    </table>\n  </div>\n`;\n\nreturn [{\n  json: { html }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        1568
      ],
      "id": "a8e7e56c-a4d4-44d8-91a7-c21cb2e061f6",
      "name": "Node I: Budget Capex, Budget Department, Not use budget7"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        928,
        1424
      ],
      "id": "f6aecb51-7390-4175-8c44-b410e3021d73",
      "name": "Merge53"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.all().map(i => i.json);\n\n// Ambil seluruh initiative (yang tidak null / undefined / kosong)\nconst initiatives = data\n  .map(r => r[\"Initiative\"])\n  .filter(x => x && x.toString().trim() !== \"\");\n\n// Renumber mulai dari 1\nconst renumbered = initiatives.map((init, idx) => ({\n  No: idx + 1,\n  Initiative: init\n}));\n\nreturn [{\n  json: {\n    initiatives_list: renumbered\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        2992
      ],
      "id": "9791f720-76b0-4c8d-ac4e-7fd6dea1d9ee",
      "name": "Code in JavaScript5",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9420f69-893f-424b-95c4-2e0e5b8c11a8",
              "name": "Jan",
              "value": "",
              "type": "string"
            },
            {
              "id": "84ad1ac8-0f04-43fb-bac7-5599fb008ae7",
              "name": "Feb",
              "value": "",
              "type": "string"
            },
            {
              "id": "aed8c1d4-f7ef-4aa8-b551-9594809513dc",
              "name": "Mar",
              "value": "",
              "type": "string"
            },
            {
              "id": "53a88871-14b7-4287-b4eb-1de922bb036d",
              "name": "Apr",
              "value": "",
              "type": "string"
            },
            {
              "id": "cf0cdbaf-cebf-4c89-9f81-2516d4890749",
              "name": "May",
              "value": "",
              "type": "string"
            },
            {
              "id": "d9b1b195-898b-435d-b97a-30b0d21139a2",
              "name": "Jun",
              "value": "",
              "type": "string"
            },
            {
              "id": "55213113-0c30-470b-9920-1f89dca853b7",
              "name": "Jul",
              "value": "",
              "type": "string"
            },
            {
              "id": "86be2d56-1ada-4b96-94ad-7f6a6cda20f3",
              "name": "Aug",
              "value": "",
              "type": "string"
            },
            {
              "id": "43e370d1-b376-47dd-b8ea-d01f44be91f9",
              "name": "Sep",
              "value": "",
              "type": "string"
            },
            {
              "id": "3fa5513e-9b6e-4bd0-8e49-db61ae295e0d",
              "name": "Oct",
              "value": "",
              "type": "string"
            },
            {
              "id": "f5ed4cfb-9a30-45cc-8943-c9fb34b70aff",
              "name": "Nov",
              "value": "",
              "type": "string"
            },
            {
              "id": "6ddd5413-3453-4ea8-9e25-fb4850e99bcd",
              "name": "Dec",
              "value": "",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        3568
      ],
      "id": "1737cdf9-0bfe-4843-9c8c-47b27166be3a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "const rowsOut = [];\n\nconst months = [\"Jan\",\"Feb\",\"Mar\",\"Apr\",\"May\",\"Jun\",\"Jul\",\"Aug\",\"Sep\",\"Oct\",\"Nov\",\"Dec\"];\n\nfor (const item of items) {\n  const row = { ...item.json };\n\n  const start = row[\"Start Month\"] ? row[\"Start Month\"].toString().trim() : null;\n  const end   = row[\"End Month\"] ? row[\"End Month\"].toString().trim() : null;\n\n  // default: semua bulan = 0\n  for (const m of months) {\n    row[m] = 0;\n  }\n\n  // jika start atau end tidak valid → skip\n  if (!months.includes(start) || !months.includes(end)) {\n    rowsOut.push({ json: row });\n    continue;\n  }\n\n  const startIdx = months.indexOf(start);\n  const endIdx   = months.indexOf(end);\n\n  // --- kasus normal: Jan–Dec tanpa wrap-around ---\n  if (startIdx <= endIdx) {\n    for (let i = startIdx; i <= endIdx; i++) {\n      row[months[i]] = 1;\n    }\n  }\n\n  // --- kasus wrap-around (misal Oct → Feb) ---\n  else {\n    for (let i = startIdx; i < months.length; i++) {\n      row[months[i]] = 1;\n    }\n    for (let i = 0; i <= endIdx; i++) {\n      row[months[i]] = 1;\n    }\n  }\n\n  rowsOut.push({ json: row });\n}\n\nreturn rowsOut;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        3568
      ],
      "id": "4b39818f-f66f-4fa0-9e88-35d89ddc0d2b",
      "name": "Code in JavaScript6"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.all()[0].json;\n\nconst months = [\n  \"January\",\"February\",\"March\",\"April\",\"May\",\"June\",\n  \"July\",\"August\",\"September\",\"October\",\"November\",\"December\"\n];\n\nconst bobotLevels = [\"Low\",\"Medium\",\"High\",\"Very High\",\"Score\"];\n\n// ===============================================================\n// Build table HTML\n// ===============================================================\nlet html = `\n  <div style=\"font-family:Arial; width:100%; margin-top:20px;\">\n    <h2 style=\"color:#2F5496; text-align:center; margin-bottom:15px;\">\n      📅 Activity Count by Weight per Month\n    </h2>\n\n    <table border=\"1\" cellspacing=\"0\" cellpadding=\"6\"\n           style=\"border-collapse:collapse; width:100%; text-align:center; font-family:Arial;\">\n      <tr style=\"background:#f2f2f2; font-weight:bold;\">\n        <th style=\"width:120px;\"></th>\n`;\n\n// Header bulan\nfor (const m of months) {\n  html += `<th>${m.slice(0,3)}</th>`;\n}\n\nhtml += `</tr>`;\n\n// Isi tabel\nfor (const b of bobotLevels) {\n  html += `<tr><td style=\"font-weight:bold;\">${b}</td>`;\n\n  for (const m of months) {\n    let cellValue = \"\";\n\n    if (b === \"Score\") {\n      cellValue = (data.per_month[m]?.score ?? 0).toFixed(2);\n    } else {\n      cellValue = data.per_month[m]?.counts[b] ?? 0;\n    }\n\n    html += `<td>${cellValue}</td>`;\n  }\n\n  html += `</tr>`;\n}\n\nhtml += `</table>`;\n\n// ===============================================================\n// Busiest & Least Busy Month — TABLE CENTERED\n// Border white = invisible\n// ===============================================================\nconst busyHTML = `\n  <table cellspacing=\"0\" cellpadding=\"8\"\n    style=\"\n      margin:30px auto 10px auto;\n      border-collapse:collapse;\n      text-align:center;\n      font-family:Arial;\n      color:#000;\n      border:1px solid white;\n    \">\n    <tr style=\"border:1px solid white;\">\n      <td style=\"\n        border:1px solid white;\n        font-size:16px;\n        font-weight:bold;\n        color:#2F5496;\n        text-align:center;\n        min-width:220px;\n      \">\n        Busiest Month<br>\n        <span style=\"font-size:14px; color:#000; font-weight:600;\">\n          ${data.busiest_month}\n        </span>\n      </td>\n\n      <td style=\"\n        border:1px solid white;\n        font-size:16px;\n        font-weight:bold;\n        color:#2F5496;\n        text-align:center;\n        min-width:220px;\n      \">\n        Least Busy Month<br>\n        <span style=\"font-size:14px; color:#000;\">\n          ${data.least_busy_month}\n        </span>\n      </td>\n    </tr>\n  </table>\n`;\n\n// ===============================================================\n// Keterangan Bobot — Card Box Style\n// ===============================================================\nconst mappingHTML = `\n  <div style=\"\n    margin: 25px auto 5px auto;\n    width: 300px;\n    padding: 15px;\n    border: 1px solid #ccc;\n    border-radius: 10px;\n    box-shadow: 0 2px 6px rgba(0,0,0,0.08);\n    font-family: Arial;\n    text-align:center;\n  \">\n    <div style=\"color:#2F5496; margin:0 0 10px 0; font-size:12.5px; font-weight:bold;\">\n      Keterangan Bobot\n    </div>\n\n    <div style=\"line-height:1.6; font-size:12px;\">\n      Low: 0.09<br>\n      Medium: 0.27<br>\n      High: 0.48<br>\n      Very High: 1.00\n    </div>\n  </div>\n`;\n\n// ===============================================================\n// Combine final output\n// ===============================================================\nhtml += `\n  ${busyHTML}\n  ${mappingHTML}\n</div>\n`;\n\nreturn [{\n  json: { html }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        3568
      ],
      "id": "d53ed00d-6d04-4890-bcbd-b1a5d9b859c4",
      "name": "container bobot"
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\n\n// ==================================================================\n// 1. Mapping bobot & month columns\n// ==================================================================\nconst normalizeBobot = (b) => {\n  if (!b) return \"\";\n  const v = b.toString().trim().toLowerCase();\n  if (v.includes(\"very\")) return \"Very High\";\n  if (v.includes(\"high\")) return \"High\";\n  if (v.includes(\"medium\")) return \"Medium\";\n  if (v.includes(\"low\")) return \"Low\";\n  return \"\";\n};\n\nconst months = [\n  \"January\",\"February\",\"March\",\"April\",\"May\",\"June\",\n  \"July\",\"August\",\"September\",\"October\",\"November\",\"December\"\n];\n\nconst monthCols = {\n  January: \"Jan\",\n  February: \"Feb\",\n  March: \"Mar\",\n  April: \"Apr\",\n  May: \"May\",\n  June: \"Jun\",\n  July: \"Jul\",\n  August: \"Aug\",\n  September: \"Sep\",\n  October: \"Oct\",\n  November: \"Nov\",\n  December: \"Dec\"\n};\n\n// ==================================================================\n// 2. Bobot Kesibukan (HASIL NORMALISASI)\n// ==================================================================\nconst weights = {\n  \"Low\": 0.09,\n  \"Medium\": 0.27,\n  \"High\": 0.48,\n  \"Very High\": 1\n};\n\n// ==================================================================\n// 3. Struktur awal untuk setiap bulan\n// ==================================================================\nconst result = {};\n\nfor (const m of months) {\n  result[m] = {\n    counts: {\n      \"Low\": 0,\n      \"Medium\": 0,\n      \"High\": 0,\n      \"Very High\": 0\n    },\n    score: 0\n  };\n}\n\n// ==================================================================\n// 4. Loop data → hitung jumlah aktivitas per bobot per bulan\n// ==================================================================\nfor (const row of rows) {\n  const bobot = normalizeBobot(row[\"Bobot\"]);\n  if (!bobot || !weights[bobot]) continue;\n\n  for (const m of months) {\n    const col = monthCols[m];\n    if (Number(row[col]) === 1) {\n      result[m].counts[bobot] += 1;\n    }\n  }\n}\n\n// ==================================================================\n// 5. Hitung SCORE (tidak lagi pakai TOTAL)\n// ==================================================================\nfor (const m of months) {\n  const c = result[m].counts;\n\n  result[m].score =\n      c[\"Low\"] * weights[\"Low\"] +\n      c[\"Medium\"] * weights[\"Medium\"] +\n      c[\"High\"] * weights[\"High\"] +\n      c[\"Very High\"] * weights[\"Very High\"];\n}\n\n// ==================================================================\n// 6. Tentukan bulan paling sibuk & paling tidak sibuk (berdasarkan score)\n// ==================================================================\nlet busiestMonth = null;\nlet leastBusyMonth = null;\nlet maxScore = -Infinity;\nlet minScore = Infinity;\n\nfor (const m of months) {\n  const score = result[m].score;\n\n  if (score > maxScore) {\n    maxScore = score;\n    busiestMonth = m;\n  }\n  if (score < minScore) {\n    minScore = score;\n    leastBusyMonth = m;\n  }\n}\n\n// ==================================================================\n// 7. Output JSON\n// ==================================================================\nreturn [{\n  json: {\n    per_month: result,\n    busiest_month: busiestMonth,\n    least_busy_month: leastBusyMonth\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        3568
      ],
      "id": "ed61ab38-89ed-46f9-b3cd-70e2802c2e7f",
      "name": "bobot1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d544792a-903e-4e8f-a107-7b636bb13582",
              "name": "NO",
              "value": "={{ $json.NO }}",
              "type": "number"
            },
            {
              "id": "48ac6e80-3db2-429a-8715-fbef7cbd8727",
              "name": "Bobot",
              "value": "={{ $json.Bobot }}",
              "type": "string"
            },
            {
              "id": "ae630b5c-9f4e-4589-9268-ee0a5cfb2def",
              "name": "Activity",
              "value": "={{ $json.Activity }}",
              "type": "string"
            },
            {
              "id": "b5883aed-823c-4acd-bb36-c8901ed2c4c0",
              "name": "Jan",
              "value": "={{ $json.Jan }}",
              "type": "string"
            },
            {
              "id": "fe5063c4-7875-454c-9d35-c19c3e63917e",
              "name": "Feb",
              "value": "={{ $json.Feb }}",
              "type": "string"
            },
            {
              "id": "8684bd51-c3b2-4fef-afed-3fa9f091561b",
              "name": "Mar",
              "value": "={{ $json.Mar }}",
              "type": "string"
            },
            {
              "id": "a6333e77-4e56-4229-a4bf-ad8a10048cf3",
              "name": "Apr",
              "value": "={{ $json.Apr }}",
              "type": "string"
            },
            {
              "id": "d3f95e8c-5f1d-4068-bb88-b99350cd8aec",
              "name": "May",
              "value": "={{ $json.May }}",
              "type": "string"
            },
            {
              "id": "bc81cc2d-5add-4be7-b66e-dc4b34448361",
              "name": "Jun",
              "value": "={{ $json.Jun }}",
              "type": "string"
            },
            {
              "id": "fcdcddae-565e-4b42-92fe-c83155feb57d",
              "name": "Jul",
              "value": "={{ $json.Jul }}",
              "type": "string"
            },
            {
              "id": "c5188633-ed65-47f2-82c9-cedd9f20f902",
              "name": "Aug",
              "value": "={{ $json.Aug }}",
              "type": "string"
            },
            {
              "id": "ba89207f-50e2-461b-8215-b01ff58f50cc",
              "name": "Sep",
              "value": "={{ $json.Sep }}",
              "type": "string"
            },
            {
              "id": "f330c9bf-597d-4a16-805b-6627dd781727",
              "name": "Oct",
              "value": "={{ $json.Oct }}",
              "type": "string"
            },
            {
              "id": "59db5a39-90fd-4064-b951-4c11ec4691f1",
              "name": "Nov",
              "value": "={{ $json.Nov }}",
              "type": "string"
            },
            {
              "id": "864112c9-5a4b-4b71-8b2b-550bd2d146df",
              "name": "Dec",
              "value": "={{ $json.Dec }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        3568
      ],
      "id": "f51ba656-55e3-4bfb-a5f4-174e6c35d7d8",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3c95db34-75a6-43cd-bf5e-3ad40a2096b9",
              "name": "Category Strategic",
              "value": "={{ $json[\"Category Strategic\"] }}",
              "type": "string"
            },
            {
              "id": "68aecbea-fb3d-40fc-9c91-7b1fceac3a00",
              "name": "Category Activity",
              "value": "={{ $json[\"Category Activity\"] }}",
              "type": "string"
            },
            {
              "id": "73990ff4-1b91-4198-a1f4-2ace71d8d178",
              "name": "Bobot",
              "value": "={{ $json.Bobot }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        3280
      ],
      "id": "06f8f8f7-0675-4860-985e-841a3c2abee5",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\n\n// ========================\n// 1. Normalize Bobot\n// ========================\nfunction normalizeBobot(b) {\n  if (!b) return \"\";\n  const v = b.toString().trim().toLowerCase();\n  if (v.includes(\"very\")) return \"Very High\";\n  if (v.includes(\"high\")) return \"High\";\n  if (v.includes(\"medium\")) return \"Medium\";\n  if (v.includes(\"low\")) return \"Low\";\n  return \"\";\n}\n\n// ========================\n// 2. Define categories\n// ========================\nconst bobotLevels = [\"Low\", \"Medium\", \"High\", \"Very High\"];\nconst catCombos = [\n  \"Strategic - Time based\",\n  \"Strategic - Routine\",\n  \"Operational - Time based\",\n  \"Operational - Routine\"\n];\n\n// Weights untuk score\nconst weights = {\n  \"Low\": 0.09,\n  \"Medium\": 0.27,\n  \"High\": 0.48,\n  \"Very High\": 1.00\n};\n\n// ========================\n// 3. Struktur hasil\n// ========================\nconst result = {};\nfor (const b of bobotLevels) {\n  result[b] = {\n    \"Strategic - Time based\": 0,\n    \"Strategic - Routine\": 0,\n    \"Operational - Time based\": 0,\n    \"Operational - Routine\": 0\n  };\n}\n\n// total kategori\nresult[\"TOTAL\"] = {\n  \"Strategic - Time based\": 0,\n  \"Strategic - Routine\": 0,\n  \"Operational - Time based\": 0,\n  \"Operational - Routine\": 0\n};\n\n// ========================\n// 4. Penghitungan jumlah aktivitas\n// ========================\nfor (const row of rows) {\n  const bobot = normalizeBobot(row[\"Bobot\"]);\n  const strat = (row[\"Category Strategic\"] || \"\").trim();\n  const act = (row[\"Category Activity\"] || \"\").trim();\n  const key = `${strat} - ${act}`;\n\n  if (!bobotLevels.includes(bobot)) continue;\n  if (!catCombos.includes(key)) continue;\n\n  result[bobot][key] += 1;\n  result[\"TOTAL\"][key] += 1;\n}\n\n// ================================\n// 5. Hitung Score per Category Combo\n// ================================\nconst scorePerCategory = {};\n\nfor (const cat of catCombos) {\n  let score = 0;\n\n  for (const b of bobotLevels) {\n    score += result[b][cat] * weights[b];\n  }\n\n  scorePerCategory[cat] = Number(score.toFixed(3));\n}\n\n// ================================\n// 6. Hitung nilai maksimum global (untuk bar chart)\n// ================================\nlet maxGlobal = 0;\nfor (const b of bobotLevels) {\n  for (const cat of catCombos) {\n    maxGlobal = Math.max(maxGlobal, result[b][cat]);\n  }\n}\nmaxGlobal += 5;\n\n// ================================\n// 7. Build bar chart per kategori\n// ================================\nconst bobotColors = {\n  \"Low\": \"#6BAED6\",\n  \"Medium\": \"#74C476\",\n  \"High\": \"#FD8D3C\",\n  \"Very High\": \"#DE2D26\"\n};\n\nfunction buildChartConfig(categoryName) {\n  const values = bobotLevels.map(b => result[b][categoryName]);\n  return {\n    type: \"bar\",\n    data: {\n      labels: bobotLevels,\n      datasets: [{\n        label: categoryName,\n        data: values,\n        backgroundColor: bobotLevels.map(b => bobotColors[b]),\n      }]\n    },\n    plugins: [\"chartjs-plugin-datalabels\"],\n    options: {\n      responsive: true,\n      plugins: {\n        datalabels: {\n          anchor: \"end\",\n          align: \"top\",\n          color: \"#000\",\n          font: { weight: \"bold\", size: 12 }\n        },\n        title: {\n          display: true,\n          text: categoryName\n        }\n      },\n      scales: {\n        yAxes: [{\n          ticks: { beginAtZero: true, min: 0, max: maxGlobal }\n        }]\n      }\n    }\n  };\n}\n\n// ================================\n// 8. Generate QuickChart URLs\n// ================================\nconst chart_urls = {};\n\nfor (const cat of catCombos) {\n  const config = buildChartConfig(cat);\n  const url = \"https://quickchart.io/chart?c=\" + encodeURIComponent(JSON.stringify(config));\n  chart_urls[cat.replace(/\\s+/g, \"_\")] = url;\n}\n\n// ================================\n// 9. Output\n// ================================\nreturn [{\n  json: {\n    table: result,\n    scores: scorePerCategory,\n    chart_urls,\n    max_global: maxGlobal\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        3280
      ],
      "id": "2a6083d4-8e9d-4b34-8752-c91b99ce607b",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        5344,
        3184
      ],
      "id": "624691e8-009a-4b0c-a944-79b9620857f1",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const itemsOut = [];\n\nfor (const item of items) {\n  const row = { ...item.json };\n\n  function shorten(v) {\n    if (!v) return v;\n    return v.toString().trim().slice(0, 3);\n  }\n\n  if (row[\"Start Month\"]) {\n    row[\"Start Month\"] = shorten(row[\"Start Month\"]);\n  }\n\n  if (row[\"End Month\"]) {\n    row[\"End Month\"] = shorten(row[\"End Month\"]);\n  }\n\n  itemsOut.push({ json: row });\n}\n\nreturn itemsOut;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        3280
      ],
      "id": "396b2043-ed9a-4033-b294-8867e919e50e",
      "name": "category vs bobot"
    },
    {
      "parameters": {
        "jsCode": "const itemsOut = [];\n\nfor (const item of items) {\n  const row = { ...item.json };\n\n  function shorten(v) {\n    if (!v) return v;\n    return v.toString().trim().slice(0, 3);\n  }\n\n  if (row[\"Start Month\"]) {\n    row[\"Start Month\"] = shorten(row[\"Start Month\"]);\n  }\n\n  if (row[\"End Month\"]) {\n    row[\"End Month\"] = shorten(row[\"End Month\"]);\n  }\n\n  itemsOut.push({ json: row });\n}\n\nreturn itemsOut;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        3568
      ],
      "id": "016fbae1-1a8e-43f9-828b-dd8756cba0a1",
      "name": "busiest and least busy month"
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\n\n// Ambil URL chart\nconst charts = data.chart_urls;\n\n// List kategori dalam urutan rapi\nconst catOrder = [\n  \"Strategic_-_Time_based\",\n  \"Strategic_-_Routine\",\n  \"Operational_-_Time_based\",\n  \"Operational_-_Routine\"\n];\n\n// Judul yang lebih enak dibaca\nconst catLabels = {\n  \"Strategic_-_Time_based\": \"Strategic - Time based\",\n  \"Strategic_-_Routine\": \"Strategic - Routine\",\n  \"Operational_-_Time_based\": \"Operational - Time based\",\n  \"Operational_-_Routine\": \"Operational - Routine\"\n};\n\n// -----------------------------------------------------\n// Build HTML charts container\n// -----------------------------------------------------\nlet chartsHTML = `\n  <div style=\"\n    display:flex;\n    flex-direction:row;\n    justify-content:center;\n    align-items:flex-start;\n    gap:25px;\n    flex-wrap:nowrap;\n    width:100%;\n    overflow-x:auto;\n    padding-bottom:10px;\n    font-family:Arial;\n  \">\n`;\n\nfor (const key of catOrder) {\n  chartsHTML += `\n    <div style=\"flex:1 1 22%; min-width:260px; text-align:center;\">\n      <h4 style=\"color:#2F5496; margin-bottom:10px; font-size:16px;\">\n        ${catLabels[key]}\n      </h4>\n      <img \n        src=\"${charts[key]}\"\n        style=\"\n          width:100%;\n          border:1px solid #ccc; \n          border-radius:10px;\n          box-shadow:0 2px 6px rgba(0,0,0,0.1);\n        \"\n      >\n    </div>\n  `;\n}\n\nchartsHTML += `</div>`;\n\n// -----------------------------------------------------\n// Tabel Score\n// -----------------------------------------------------\nconst score = data.scores || {};\nconst scoreRow = `\n  <tr>\n    <td style=\"font-weight:bold;\">Score</td>\n    <td>${score[\"Strategic - Time based\"] ?? \"\"}</td>\n    <td>${score[\"Strategic - Routine\"] ?? \"\"}</td>\n    <td>${score[\"Operational - Time based\"] ?? \"\"}</td>\n    <td>${score[\"Operational - Routine\"] ?? \"\"}</td>\n  </tr>\n`;\n\nconst scoreTableHTML = `\n  <div style=\"text-align:center; margin-top:20px; font-family:Arial;\">\n    <h4 style=\"color:#2F5496; margin-bottom:10px;\">Score Summary</h4>\n\n    <table border=\"1\" cellspacing=\"0\" cellpadding=\"6\"\n      style=\"border-collapse:collapse; margin:auto; width:90%; text-align:center; font-family:Arial;\">\n      <tr style=\"background:#f2f2f2; font-weight:bold;\">\n        <th></th>\n        <th>Strategic - Time Based</th>\n        <th>Strategic - Routine</th>\n        <th>Operational - Time Based</th>\n        <th>Operational - Routine</th>\n      </tr>\n      ${scoreRow}\n    </table>\n  </div>\n`;\n\n// -----------------------------------------------------\n//  Keterangan Bobot — Opsi 1 (Card Box)\n// -----------------------------------------------------\nconst mappingTableHTML = `\n  <div style=\"\n    margin: 25px auto 10px auto;\n    width: 300px;\n    padding: 15px;\n    border: 1px solid #ccc;\n    border-radius: 10px;\n    box-shadow: 0 2px 6px rgba(0,0,0,0.08);\n    font-family: Arial;\n    text-align:center;\n  \">\n    <div style=\"color:#2F5496; margin:0 0 10px 0; font-size:12.5px; font-weight:bold;\">\n      Keterangan Bobot\n    </div>\n\n    <div style=\"line-height:1.6; font-size:12px;\">\n      Low: 0.09<br>\n      Medium: 0.27<br>\n      High: 0.48<br>\n      Very High: 1.00\n    </div>\n  </div>\n`;\n\n// -----------------------------------------------------\n// Final Wrapper\n// -----------------------------------------------------\nconst html = `\n  <div style=\"width:100%; font-family:Arial; text-align:center;\">\n    <h2 style=\"color:#2F5496; margin-bottom:20px;\">\n      📊 Activity Breakdown by Weight & Category\n    </h2>\n\n    ${chartsHTML}\n\n    ${scoreTableHTML}\n\n    ${mappingTableHTML}\n  </div>\n`;\n\nreturn [{\n  json: {\n    html\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        3280
      ],
      "id": "d30ded99-cd7a-4201-8c99-5a090e697c69",
      "name": "container bobot1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2608,
        2576
      ],
      "id": "d5ddc314-20b1-4a7d-bc0b-9c3aa3f6c886",
      "name": "Merge1",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nlet rows = [];\n\nfor (const item of items) {\n  rows.push({\n    json: {\n      Activity: item.json.Activity || \"\",\n      Initiative: item.json.Initiative || \"\",\n      \"Indicators (KSI/KMI/KPI/KAI)\": item.json[\"Indicators (KSI/KMI/KPI/KAI)\"] || \"\",\n      QCDSME: item.json.QCDSME || \"\"\n    }\n  });\n}\n\nreturn rows;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2704,
        2320
      ],
      "id": "17135ce1-9a81-4942-9fc8-bfcab3587353",
      "name": "Code in JavaScript98",
      "disabled": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1mb4VxYfqvVt6mk6U0R-jD5TICMGM-WNbACJC8djQk9Y",
          "mode": "list",
          "cachedResultName": "Output OpenAI Klasifikasi QCDSME (Data Terbaru)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mb4VxYfqvVt6mk6U0R-jD5TICMGM-WNbACJC8djQk9Y/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2026658436,
          "mode": "list",
          "cachedResultName": "Fixed",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mb4VxYfqvVt6mk6U0R-jD5TICMGM-WNbACJC8djQk9Y/edit#gid=2026658436"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3440,
        2320
      ],
      "id": "1858b600-5750-4bb8-a8ae-921f171b126c",
      "name": "Get row(s) in sheet",
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1mb4VxYfqvVt6mk6U0R-jD5TICMGM-WNbACJC8djQk9Y",
          "mode": "list",
          "cachedResultName": "Output OpenAI Klasifikasi QCDSME (Data Terbaru)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mb4VxYfqvVt6mk6U0R-jD5TICMGM-WNbACJC8djQk9Y/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2026658436,
          "mode": "list",
          "cachedResultName": "Fixed",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mb4VxYfqvVt6mk6U0R-jD5TICMGM-WNbACJC8djQk9Y/edit#gid=2026658436"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Activity": "={{ $json.Activity }}",
            "QCDSME": "={{ $json.QCDSME }}",
            "CategoryGroup": "={{ $json[\"Indicators (KSI/KMI/KPI/KAI)\"] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Activity",
              "displayName": "Activity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CategoryGroup",
              "displayName": "CategoryGroup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "QCDSME",
              "displayName": "QCDSME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3232,
        2320
      ],
      "id": "c2e9ebe2-cc30-4e9b-9bc5-50150cdbf472",
      "name": "Append row in sheet",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "value": "1mb4VxYfqvVt6mk6U0R-jD5TICMGM-WNbACJC8djQk9Y",
          "mode": "list",
          "cachedResultName": "Output OpenAI Klasifikasi QCDSME (Data Terbaru)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mb4VxYfqvVt6mk6U0R-jD5TICMGM-WNbACJC8djQk9Y/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2026658436,
          "mode": "list",
          "cachedResultName": "Fixed",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mb4VxYfqvVt6mk6U0R-jD5TICMGM-WNbACJC8djQk9Y/edit#gid=2026658436"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2976,
        2320
      ],
      "id": "85e06d71-45c8-4eb5-a0c5-f2090145b474",
      "name": "Clear Sheet Before Append",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// normalize common issues: NBSP, spaces, numeric strings\nfunction isOne(val){\n  if(val === 1 || val === \"1\" || val === true) return true;\n  if(typeof val === 'string'){\n    const s = val.replace(/\\u00A0/g,'').trim(); // remove NBSP and space\n    return s === \"1\" || s.toLowerCase() === \"yes\" || s.toLowerCase()==='y';\n  }\n  return false;\n}\n\nconst departments = [\"MNF\",\"PRD\",\"ENG\",\"QA\",\"WH\",\"MDP\",\"IOS\",\"HC\",\"BDA\"];\nconst out = [];\n\nfor (const it of items){\n  const row = Object.assign({}, it.json);\n  // trim all string fields\n  for(const k of Object.keys(row)){\n    if(typeof row[k] === 'string') row[k] = row[k].trim();\n  }\n  // normalize department flags to 1/0\n  for(const d of departments){\n    row[d] = isOne(row[d]) ? 1 : 0;\n  }\n  // normalize DIC / Pilar header key variation\n  if(row[\"DIC / Pilar\"] === undefined && row[\"DIC /Pilar\"]) row[\"DIC / Pilar\"] = row[\"DIC /Pilar\"];\n  out.push({ json: row });\n}\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -512,
        544
      ],
      "id": "1c1a91a1-e7f1-485a-840e-e4d2accf4213",
      "name": "Node C: Normalize Rows"
    }
  ],
  "pinData": {},
  "connections": {
    "Node 2: Number Formatting1": {
      "main": [
        [
          {
            "node": "Clear Sheet Before Append1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Node B Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Node C: Normalize Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 1s": {
      "main": [
        [
          {
            "node": "Node A: Append row in Merged Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Node 1 Get row(s) from MDP": {
      "main": [
        [
          {
            "node": "Merge 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Node 2 Get row(s) from PRD": {
      "main": [
        [
          {
            "node": "Merge 3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Node 3 Get row(s) from BDA": {
      "main": [
        [
          {
            "node": "Merge 3",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Node 4 Get row(s) from ENG": {
      "main": [
        [
          {
            "node": "Merge 3",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Node 5 Get row(s) from WH": {
      "main": [
        [
          {
            "node": "Merge 3",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Node 7 Get row(s) from IOS": {
      "main": [
        [
          {
            "node": "Merge 3",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Node A: Append row in Merged Sheet": {
      "main": [
        [
          {
            "node": "Node B Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge 3": {
      "main": [
        [
          {
            "node": "Node 2: Number Formatting1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear Sheet Before Append1": {
      "main": [
        [
          {
            "node": "Wait 1s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Node 1 Get row(s) from MDP",
            "type": "main",
            "index": 0
          },
          {
            "node": "Node 2 Get row(s) from PRD",
            "type": "main",
            "index": 0
          },
          {
            "node": "Node 3 Get row(s) from BDA",
            "type": "main",
            "index": 0
          },
          {
            "node": "Node 4 Get row(s) from ENG",
            "type": "main",
            "index": 0
          },
          {
            "node": "Node 5 Get row(s) from WH",
            "type": "main",
            "index": 0
          },
          {
            "node": "Node 6 Get row(s) from HCD",
            "type": "main",
            "index": 0
          },
          {
            "node": "Node 7 Get row(s) from IOS",
            "type": "main",
            "index": 0
          },
          {
            "node": "Node 8 Get row(s) from QAC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Node 6 Get row(s) from HCD": {
      "main": [
        [
          {
            "node": "Merge 3",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Node 8 Get row(s) from QAC": {
      "main": [
        [
          {
            "node": "Merge 3",
            "type": "main",
            "index": 7
          }
        ]
      ]
    },
    "Node F: Focus Theme per DIC3": {
      "main": [
        [
          {
            "node": "Container of F3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge27": {
      "main": [
        [
          {
            "node": "Merge28",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge28": {
      "main": [
        [
          {
            "node": "Merge29",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Container of F3": {
      "main": [
        [
          {
            "node": "Merge27",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Container of G3": {
      "main": [
        [
          {
            "node": "Merge28",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge29": {
      "main": [
        [
          {
            "node": "Merge30",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge30": {
      "main": [
        [
          {
            "node": "Merge31",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge31": {
      "main": [
        [
          {
            "node": "Merge49",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge All Analyses1": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Node G: KMI & KSI and Dimension Mapping3": {
      "main": [
        [
          {
            "node": "Container of G3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Node I: Budget Capex, Budget Department, Not use budget4": {
      "main": [
        [
          {
            "node": "Container of I",
            "type": "main",
            "index": 0
          },
          {
            "node": "Node I: Budget Capex, Budget Department, Not use budget7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Container of I": {
      "main": [
        [
          {
            "node": "Merge53",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Node J.1: Collaboration Culture Mapping edgeList6": {
      "main": [
        [
          {
            "node": "Merge29",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Node E.2: initiatives per DIC4": {
      "main": [
        [
          {
            "node": "Container of E.2.1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Container of E.2.1": {
      "main": [
        [
          {
            "node": "Merge27",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Node J.1: Collaboration Culture Mapping edgeList7": {
      "main": [
        [
          {
            "node": "Node J.1: Collaboration Culture Mapping edgeList6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Node J.2:3": {
      "main": [
        [
          {
            "node": "Container of J.2: support contribution1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Container of J.2: support contribution1": {
      "main": [
        [
          {
            "node": "Merge30",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code in JavaScript84": {
      "main": [
        [
          {
            "node": "Clear Sheet Before Append4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet8": {
      "main": [
        [
          {
            "node": "Edit Fields19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields19": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT prompt untuk QCDSME dari KSI, KMI, KPI, KAI5": {
      "main": [
        [
          {
            "node": "Code in JavaScript85",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model5": {
      "main": [
        [
          {
            "node": "Code in JavaScript84",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript85": {
      "main": [
        [
          {
            "node": "Code in JavaScript86",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript86": {
      "main": [
        [
          {
            "node": "Code in JavaScript87",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript87": {
      "main": [
        [
          {
            "node": "Message a model5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript88": {
      "main": [
        [
          {
            "node": "Merge50",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Mastiin KMI, KSI, KPI, KAI tidak ada yang sama antara dept5": {
      "main": [
        [
          {
            "node": "Code in JavaScript89",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript89": {
      "main": [
        [
          {
            "node": "Code in JavaScript90",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript90": {
      "main": [
        [
          {
            "node": "Code in JavaScript91",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript91": {
      "main": [
        [
          {
            "node": "mastiin tidak ada aktivitas duplikat5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript92": {
      "main": [
        [
          {
            "node": "Merge49",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "mastiin tidak ada aktivitas duplikat5": {
      "main": [
        [
          {
            "node": "Code in JavaScript94",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields20": {
      "main": [
        [
          {
            "node": "Code in JavaScript93",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript93": {
      "main": [
        [
          {
            "node": "Merge48",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields21": {
      "main": [
        [
          {
            "node": "Code in JavaScript96",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge48": {
      "main": [
        [
          {
            "node": "Code in JavaScript92",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript94": {
      "main": [
        [
          {
            "node": "Clear Sheet Before Append5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet9": {
      "main": [
        [
          {
            "node": "Edit Fields22",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript95": {
      "main": [
        [
          {
            "node": "Edit Fields21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields22": {
      "main": [
        [
          {
            "node": "Code in JavaScript95",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript96": {
      "main": [
        [
          {
            "node": "Merge48",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet6": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript97": {
      "main": [
        [
          {
            "node": "Code in JavaScript88",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet7": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear Sheet Before Append4": {
      "main": [
        [
          {
            "node": "Append row in sheet6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge49": {
      "main": [
        [
          {
            "node": "Merge50",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge50": {
      "main": [
        [
          {
            "node": "Merge51",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear Sheet Before Append5": {
      "main": [
        [
          {
            "node": "Append row in sheet7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "jumlah aktivitas dalam satu bulan1": {
      "main": [
        [
          {
            "node": "Edit Fields23",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields23": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Container chart activities per month1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge51": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Container chart activities per month1": {
      "main": [
        [
          {
            "node": "Merge52",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Container of list aktivitas jan-dec1": {
      "main": [
        [
          {
            "node": "Merge52",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Node I: Budget Capex, Budget Department, Not use budget7": {
      "main": [
        [
          {
            "node": "Merge53",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge53": {
      "main": [
        [
          {
            "node": "Merge31",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "Container of list aktivitas jan-dec1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code in JavaScript6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript6": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "container bobot": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "bobot1": {
      "main": [
        [
          {
            "node": "container bobot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "bobot1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "container bobot1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Merge All Analyses1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "category vs bobot": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "busiest and least busy month": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "container bobot1": {
      "main": [
        [
          {
            "node": "Merge51",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Code in JavaScript98",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript98": {
      "main": [
        [
          {
            "node": "Clear Sheet Before Append",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript97",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear Sheet Before Append": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Node C: Normalize Rows": {
      "main": [
        [
          {
            "node": "Node G: KMI & KSI and Dimension Mapping3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Node F: Focus Theme per DIC3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Node I: Budget Capex, Budget Department, Not use budget4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Node E.2: initiatives per DIC4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Node J.1: Collaboration Culture Mapping edgeList7",
            "type": "main",
            "index": 0
          },
          {
            "node": "Node J.2:3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mastiin KMI, KSI, KPI, KAI tidak ada yang sama antara dept5",
            "type": "main",
            "index": 0
          },
          {
            "node": "GPT prompt untuk QCDSME dari KSI, KMI, KPI, KAI5",
            "type": "main",
            "index": 0
          },
          {
            "node": "jumlah aktivitas dalam satu bulan1",
            "type": "main",
            "index": 0
          },
          {
            "node": "busiest and least busy month",
            "type": "main",
            "index": 0
          },
          {
            "node": "category vs bobot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7f2b3089-7b50-4efa-b011-134a2ea62577",
  "meta": {
    "instanceId": "7bfc899a9c50641ce53f7adffc38b352c458b630b9f9b40b38ecd3455d0bfedc"
  },
  "id": "Ct1DQV4geDskA2aP",
  "tags": []
}